<section class="destinyjdr-character-section">

    <div class="destinyjdr-character-bar1">

        <div class="destinyjdr-character-bar-paths">

            {{#if (eq actor.system.class "hunter")}}
                <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.paths"}}</p>
            {{/if}}
            {{#if (eq actor.system.class "titan")}}
                <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.codes"}}</p>
            {{/if}}
            {{#if (eq actor.system.class "warlock")}}
                <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.harmonies"}}</p>
            {{/if}}
            <section class="paths-list">

                <select class="pathselect" name="data.path1" data-chosen="{{actor.system.path1}}">
                    {{#select actor.system.path1}}
                        <option class="pathnothing" value="nothing"></option>
                        {{#if (eq actor.system.class "hunter")}}
                            {{#each config.pathsHunter as |name path|}}
                                <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                            {{/each}}
                        {{/if}}
                        {{#if (eq actor.system.class "titan")}}
                            {{#each config.pathsTitan as |name path|}}
                                <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                            {{/each}}
                        {{/if}}
                        {{#if (eq actor.system.class "warlock")}}
                            {{#each config.pathsWarlock as |name path|}}
                                <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                            {{/each}}
                        {{/if}}
                    {{/select}}
                </select>

                {{#if (eq actor.system.path1 "nothing")}}{{else}}
                    <select class="pathselect" name="data.path2" data-chosen="{{actor.system.path2}}">
                        {{#select actor.system.path2}}
                            <option class="pathnothing" value="nothing"></option>
                            {{#if (eq actor.system.class "hunter")}}
                                {{#each config.pathsHunter as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "titan")}}
                                {{#each config.pathsTitan as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "warlock")}}
                                {{#each config.pathsWarlock as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                        {{/select}}
                    </select>
                {{/if}}

                {{#if (eq actor.system.path2 "nothing")}}{{else}}
                    <select class="pathselect" name="data.path3" data-chosen="{{actor.system.path3}}">
                        {{#select actor.system.path3}}
                            <option class="pathnothing" value="nothing"></option>
                            {{#if (eq actor.system.class "hunter")}}
                                {{#each config.pathsHunter as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "titan")}}
                                {{#each config.pathsTitan as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "warlock")}}
                                {{#each config.pathsWarlock as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                        {{/select}}
                    </select>
                {{/if}}

                {{#if (eq actor.system.path3 "nothing")}}{{else}}
                    <select class="pathselect" name="data.path4" data-chosen="{{actor.system.path4}}">
                        {{#select actor.system.path4}}
                            <option class="pathnothing" value="nothing"></option>
                            {{#if (eq actor.system.class "hunter")}}
                                {{#each config.pathsHunter as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "titan")}}
                                {{#each config.pathsTitan as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "warlock")}}
                                {{#each config.pathsWarlock as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                        {{/select}}
                    </select>
                {{/if}}

                {{#if (eq actor.system.path4 "nothing")}}{{else}}
                    <select class="pathselect" name="data.path5" data-chosen="{{actor.system.path5}}">
                        {{#select actor.system.path5}}
                            <option class="pathnothing" value="nothing"></option>
                            {{#if (eq actor.system.class "hunter")}}
                                {{#each config.pathsHunter as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "titan")}}
                                {{#each config.pathsTitan as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "warlock")}}
                                {{#each config.pathsWarlock as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                        {{/select}}
                    </select>
                {{/if}}

                {{#if (eq actor.system.path5 "nothing")}}{{else}}
                    <select class="pathselect" name="data.path6" data-chosen="{{actor.system.path6}}">
                        {{#select actor.system.path6}}
                            <option class="pathnothing" value="nothing"></option>
                            {{#if (eq actor.system.class "hunter")}}
                                {{#each config.pathsHunter as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "titan")}}
                                {{#each config.pathsTitan as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "warlock")}}
                                {{#each config.pathsWarlock as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                        {{/select}}
                    </select>
                {{/if}}

                {{#if (eq actor.system.path6 "nothing")}}{{else}}
                    <select class="pathselect" name="data.path7" data-chosen="{{actor.system.path7}}">
                        {{#select actor.system.path7}}
                            <option class="pathnothing" value="nothing"></option>
                            {{#if (eq actor.system.class "hunter")}}
                                {{#each config.pathsHunter as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "titan")}}
                                {{#each config.pathsTitan as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "warlock")}}
                                {{#each config.pathsWarlock as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                        {{/select}}
                    </select>
                {{/if}}

                {{#if (eq actor.system.path7 "nothing")}}{{else}}
                    <select class="pathselect" name="data.path8" data-chosen="{{actor.system.path8}}">
                        {{#select actor.system.path8}}
                            <option class="pathnothing" value="nothing"></option>
                            {{#if (eq actor.system.class "hunter")}}
                                {{#each config.pathsHunter as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "titan")}}
                                {{#each config.pathsTitan as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                            {{#if (eq actor.system.class "warlock")}}
                                {{#each config.pathsWarlock as |name path|}}
                                    <option class="color-{{path}}" value="{{path}}">{{localize name}}</option>
                                {{/each}}
                            {{/if}}
                        {{/select}}
                    </select>
                {{/if}}

            </section>
        </div>

        <div class="destinyjdr-character-bar-equipment">
            <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.equipment"}}</p>
            <section class="item-list">
                {{#each equipables as |item id|}}
                    {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                {{/each}}
            </section>
        </div>

        <div class="destinyjdr-character-bar-skills">
            <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.skills"}}</p>
            <section class="item-list">
                {{#each skills as |item id|}}
                    {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                {{/each}}
            </section>
        </div>

        <div class="destinyjdr-character-bar-flawsandmutations">
            <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.flawsandmutations"}}</p>
            <section class="item-list">
                {{#each flaws as |item id|}}
                    {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                {{/each}}
                {{#each mutations as |item id|}}
                    {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                {{/each}}
            </section>
        </div>

    </div>

</section>