<section class="main">
    <div class="destinyjdr-character-stats">
        <div id="destinyjdr-stat-combatskill" class="destinyjdr-stat-bloc stat-bloc-combatskill {{unrealStats.combatskill}} tooltipdiv" data-action-value="{{data.system.stats.combatskill}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.combatskill}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.combatskill1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.combatskill2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.combatskill3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.combatskill4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.combatskill5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.combatskill6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.combatskill7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.combatskill8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="combatskill-color">{{localize 'destinyjdr.minstats.CSstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.combatskill" data-dtype="Number" value="{{data.system.stats.combatskill}}" maxlength="3">
            </div>
            <span class="tooltiptext combatskill-color">{{bonusNum data.system.stats.combatskill}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-aimingskill" class="destinyjdr-stat-bloc stat-bloc-aimingskill {{unrealStats.aimingskill}} tooltipdiv" data-action-value="{{data.system.stats.aimingskill}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.aimingskill}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.aimingskill1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.aimingskill2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.aimingskill3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.aimingskill4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.aimingskill5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.aimingskill6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.aimingskill7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.aimingskill8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="aimingskill-color">{{localize 'destinyjdr.minstats.ASstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.aimingskill" data-dtype="Number" value="{{data.system.stats.aimingskill}}" maxlength="3">
            </div>
            <span class="tooltiptext aimingskill-color">{{bonusNum data.system.stats.aimingskill}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-strength" class="destinyjdr-stat-bloc stat-bloc-strength {{unrealStats.strength}} tooltipdiv" data-action-value="{{data.system.stats.strength}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.strength}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.strength1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.strength2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.strength3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.strength4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.strength5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.strength6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.strength7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.strength8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="strength-color">{{localize 'destinyjdr.minstats.STRstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.strength" data-dtype="Number" value="{{data.system.stats.strength}}" maxlength="3">
            </div>
            <span class="tooltiptext strength-color">{{bonusNum data.system.stats.strength}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-dexterity" class="destinyjdr-stat-bloc stat-bloc-dexterity {{unrealStats.dexterity}} tooltipdiv" data-action-value="{{data.system.stats.dexterity}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.dexterity}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.dexterity1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.dexterity2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.dexterity3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.dexterity4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.dexterity5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.dexterity6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.dexterity7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.dexterity8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="dexterity-color">{{localize 'destinyjdr.minstats.DEXstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.dexterity" data-dtype="Number" value="{{data.system.stats.dexterity}}" maxlength="3">
            </div>
            <span class="tooltiptext dexterity-color">{{bonusNum data.system.stats.dexterity}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-resilience" class="destinyjdr-stat-bloc stat-bloc-resilience {{unrealStats.resilience}} tooltipdiv" data-action-value="{{data.system.stats.resilience}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.resilience}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.resilience1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.resilience2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.resilience3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.resilience4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.resilience5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.resilience6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.resilience7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.resilience8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="resilience-color">{{localize 'destinyjdr.minstats.RESstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.resilience" data-dtype="Number" value="{{data.system.stats.resilience}}" maxlength="3">
            </div>
            <span class="tooltiptext resilience-color">{{bonusNum data.system.stats.resilience}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-intellect" class="destinyjdr-stat-bloc stat-bloc-intellect {{unrealStats.intellect}} tooltipdiv" data-action-value="{{data.system.stats.intellect}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.intellect}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.intellect1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.intellect2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.intellect3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.intellect4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.intellect5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.intellect6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.intellect7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.intellect8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="intellect-color">{{localize 'destinyjdr.minstats.INTstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.intellect" data-dtype="Number" value="{{data.system.stats.intellect}}" maxlength="3">
            </div>
            <span class="tooltiptext intellect-color">{{bonusNum data.system.stats.intellect}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-perception" class="destinyjdr-stat-bloc stat-bloc-perception {{unrealStats.perception}} tooltipdiv" data-action-value="{{data.system.stats.perception}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.perception}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.perception1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.perception2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.perception3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.perception4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.perception5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.perception6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.perception7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.perception8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="perception-color">{{localize 'destinyjdr.minstats.PERstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.perception" data-dtype="Number" value="{{data.system.stats.perception}}" maxlength="3">
            </div>
            <span class="tooltiptext perception-color">{{bonusNum data.system.stats.perception}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-mentalstrength" class="destinyjdr-stat-bloc stat-bloc-mentalstrength {{unrealStats.mentalstrength}} tooltipdiv" data-action-value="{{data.system.stats.mentalstrength}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.mentalstrength}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.mentalstrength1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.mentalstrength2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.mentalstrength3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.mentalstrength4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.mentalstrength5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.mentalstrength6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.mentalstrength7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.mentalstrength8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="mentalstrength-color">{{localize 'destinyjdr.minstats.MSstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.mentalstrength" data-dtype="Number" value="{{data.system.stats.mentalstrength}}" maxlength="3">
            </div>
            <span class="tooltiptext mentalstrength-color">{{bonusNum data.system.stats.mentalstrength}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-charisma" class="destinyjdr-stat-bloc stat-bloc-charisma {{unrealStats.charisma}} tooltipdiv" data-action-value="{{data.system.stats.charisma}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.charisma}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.charisma1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.charisma2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.charisma3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.charisma4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.charisma5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.charisma6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.charisma7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.charisma8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="charisma-color">{{localize 'destinyjdr.minstats.CHstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.charisma" data-dtype="Number" value="{{data.system.stats.charisma}}" maxlength="3">
            </div>
            <span class="tooltiptext charisma-color">{{bonusNum data.system.stats.charisma}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

        <div id="destinyjdr-stat-technology" class="destinyjdr-stat-bloc stat-bloc-technology {{unrealStats.technology}} tooltipdiv" data-action-value="{{data.system.stats.technology}}" data-fatigue-value="{{data.system.fatigue.value}}" data-upgrade-value="{{data.system.upgradeStats.technology}}">
            <div class="destinyjdr-upgradestat-overview">
                {{#if (eq data.system.upgradeStats.technology1 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.technology2 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.technology3 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.technology4 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.technology5 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.technology6 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.technology7 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
                {{#if (eq data.system.upgradeStats.technology8 true)}}
                    <span class="activeupgrade"></span>
                {{else}}
                    <span></span>
                {{/if}}
            </div>
            <div class="destinyjdr-stat-content">
                <p class="technology-color">{{localize 'destinyjdr.minstats.TECstat'}}</p>
                <input class="destinyjdr-stat-input" type="text" name="data.stats.technology" data-dtype="Number" value="{{data.system.stats.technology}}" maxlength="3">
            </div>
            <span class="tooltiptext technology-color">{{bonusNum data.system.stats.technology}}</span>
            <span class="tooltiptextultra">
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage1'}}}</p>
                <p>{{{localize 'destinyjdr.simpleMessage.surnaturalMessage2'}}}</p>
            </span>
        </div>

    </div>

    <nav class="sheet-tabs tabs destinyjdr-character-buttonsviews" data-group="primary">
        <a class="destinyjdr-buttonsviews sheet1-button item" data-tab="guardian" title="{{localize 'destinyjdr.sheettext.button1'}}">{{localize 'destinyjdr.sheettext.button1'}}</a>
        <a class="destinyjdr-buttonsviews sheet2-button item" data-tab="paths" title="{{localize 'destinyjdr.sheettext.button2'}}">{{localize 'destinyjdr.sheettext.button2'}}</a>
    </nav>
  
</section>