<section class="destinyjdr-character-section">

    <div class="destinyjdr-character-bar2">

        <div class="destinyjdr-character-bar-supers">
            <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.supers"}}</p>
            <section class="item-list">
                {{#each supers as |item id|}}
                    {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                {{/each}}
            </section>
        </div>

        <div class="destinyjdr-character-bar-traits">
            <p class="destinyjdr-character-text">{{localize "destinyjdr.sheettext.traits"}}</p>
            <section class="item-list">
                {{#each traits as |item id|}}
                    {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                {{/each}}
            </section>
        </div>

        <div class="destinyjdr-character-bar-armor">
            <p class="destinyjdr-character-text">{{localize "destinyjdr.sheet.armor"}}</p>
            <section class="armor-list">
                <div class="armor-list-div">
                    {{#each armorhead as |item id|}}
                        {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                    {{/each}}
                </div>
                <div class="armor-list-div">
                    {{#each armorchest as |item id|}}
                        {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                    {{/each}}
                </div>
                <div class="armor-list-div">
                    {{#each armorarms as |item id|}}
                        {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                    {{/each}}
                </div>
                <div class="armor-list-div">
                    {{#each armorlegs as |item id|}}
                        {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                    {{/each}}
                </div>
                <div class="armor-list-div">
                    {{#each armorclass as |item id|}}
                        {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                    {{/each}}
                </div>
            </section>
            <!--
            <section class="armor-list">
                {{#each equippedarmors as |item id|}}
                    {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
                {{/each}}
            </section>
            -->
        </div>

        <img class="destinyjdr-character-armorimg" src="systems/destinyjdr/assets/img/armors/armorcharacter_{{data.system.class}}.png">

    </div>

</section>