<section class="destinyjdr-character-allegiance-points">

    <div class="destinyjdr-character-allegiance-points-div">
        <p class="destinyjdr-character-allegiance-points-div-texthope">{{localize "destinyjdr.sheettext.hopepoints"}}</p>
        <input class="destinyjdr-character-allegiance-points-div-inputhope" name="data.paths.hopevalue" type="text" value="{{data.system.paths.hopevalue}}"/>
    </div>

    <div class="destinyjdr-character-allegiance-points-div">
        <p class="destinyjdr-character-allegiance-points-div-textsorrow">{{localize "destinyjdr.sheettext.sorrowpoints"}}</p>
        <input class="destinyjdr-character-allegiance-points-div-inputsorrow" name="data.paths.sorrowvalue" type="text" value="{{data.system.paths.sorrowvalue}}"/>
    </div>

</section>