<section>

  <div class="character-classlogo">
    {{#if (eq actor.system.subclass "gunslinger")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_solar.png">
    {{/if}}
    {{#if (eq actor.system.subclass "knifejuggler")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_solar.png">
    {{/if}}
    {{#if (eq actor.system.subclass "arcstrider")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_arc.png">
    {{/if}}
    {{#if (eq actor.system.subclass "nightstalker")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_void.png">
    {{/if}}
    {{#if (eq actor.system.subclass "infiltrator")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_void.png">
    {{/if}}
    {{#if (eq actor.system.subclass "revenant")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_stasis.png">
    {{/if}}
    {{#if (eq actor.system.subclass "threadrunner")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_strand.png">
    {{/if}}
    {{#if (eq actor.system.subclass "hallowed")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_vertant.png">
    {{/if}}
    {{#if (eq actor.system.subclass "successor")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/hunter_banner_offaxis.png">
    {{/if}}
    {{#if (eq actor.system.subclass "sunbreaker")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_solar.png">
    {{/if}}
    {{#if (eq actor.system.subclass "devastator")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_solar.png">
    {{/if}}
    {{#if (eq actor.system.subclass "striker")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_arc.png">
    {{/if}}
    {{#if (eq actor.system.subclass "codeofthemissile")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_arc.png">
    {{/if}}
    {{#if (eq actor.system.subclass "sentinel")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_void.png">
    {{/if}}
    {{#if (eq actor.system.subclass "behemoth")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_stasis.png">
    {{/if}}
    {{#if (eq actor.system.subclass "berserker")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_strand.png">
    {{/if}}
    {{#if (eq actor.system.subclass "pioneer")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_vertant.png">
    {{/if}}
    {{#if (eq actor.system.subclass "lancer")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/titan_banner_offaxis.png">
    {{/if}}
    {{#if (eq actor.system.subclass "dawnblade")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_solar.png">
    {{/if}}
    {{#if (eq actor.system.subclass "stormcaller")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_arc.png">
    {{/if}}
    {{#if (eq actor.system.subclass "chaosseeker")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_arc.png">
    {{/if}}
    {{#if (eq actor.system.subclass "childofthevoid")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_void.png">
    {{/if}}
    {{#if (eq actor.system.subclass "voidwalker")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_void.png">
    {{/if}}
    {{#if (eq actor.system.subclass "shadebinder")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_stasis.png">
    {{/if}}
    {{#if (eq actor.system.subclass "broodweaver")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_strand.png">
    {{/if}}
    {{#if (eq actor.system.subclass "adoubant")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_vertant.png">
    {{/if}}
    {{#if (eq actor.system.subclass "alchemage")}}
      <img src="systems/destinyjdr/assets/img/sheet_elements/warlock_banner_offaxis.png">
    {{/if}}
  </div>

  <div class="character-infomain">

    <div class="destinyjdr-actorimg">
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    </div>

    <div class="character-infomain-1">

      <button class="destinyjdr-rollinitiative tooltipdiv" data-dex="{{actor.system.stats.dexterity}}" data-per="{{actor.system.stats.perception}}" data-actor="{{actor._id}}">
        <i class="fa-solid fa-dice-d20"></i>
        <span class="tooltiptext" style="right: 24px;top: -4px;transform: unset;width: auto;left: unset;padding: 1px 6px;">{{localize 'destinyjdr.sheet.initiativeRoll'}}</span>
      </button>

      {{#if (disabled this.paracausal)}}
        <h1 class="character-infomain-name paracausal">
      {{else}}
        <h1 class="character-infomain-name">
      {{/if}}
      
        <input class="actor-name" name="name" type="text" value="{{actor.name}}" spellcheck="false" data-dtype="String"/>
      </h1>

      <select name="data.class" class="character-infomain-class" data-actor="{{actor.data._id}}">
        {{#select actor.system.class}}
          {{#each config.classes as |name class|}}
            <option value="{{class}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>

      <div class="character-infomain-1-infos">
        
        <select name="data.subclass" class="character-infomain-subclass">
          {{#if (eq actor.system.class "hunter")}}
            {{#select actor.system.subclass}}
              {{#each config.hunterSubclasses as |name subclass|}}
                <option value="{{subclass}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          {{/if}}
          {{#if (eq actor.system.class "titan")}}
            {{#select actor.system.subclass}}
              {{#each config.titanSubclasses as |name subclass|}}
                <option value="{{subclass}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          {{/if}}
          {{#if (eq actor.system.class "warlock")}}
            {{#select actor.system.subclass}}
              {{#each config.warlockSubclasses as |name subclass|}}
                <option value="{{subclass}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          {{/if}}
        </select>

        <select name="data.charInfos.gender" class="character-infomain-gender">
          {{#select actor.system.charInfos.gender}}
            {{#each config.genders as |name gender|}}
              <option value="{{gender}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select>

        <select name="data.race" class="character-infomain-race">
          {{#select actor.system.race}}
            {{#each config.races as |name race|}}
              <option value="{{race}}">{{localize name}}</option>
            {{/each}}
          {{/select}}
        </select>

        <div class="character-infomain-age">
          <input class="character-infomain-blocinput" type="text" name="data.charInfos.age" value="{{actor.system.charInfos.age}}" placeholder="{{localize 'destinyjdr.sheet.age'}}">
        </div>

        <div class="character-infomain-size">
          <input class="character-infomain-blocinput" type="text" name="data.charInfos.size" value="{{actor.system.charInfos.size}}" placeholder="{{localize 'destinyjdr.sheet.size'}}">
        </div>

        <div class="character-infomain-weight">
          <input class="character-infomain-blocinput" type="text" name="data.charInfos.weight" value="{{actor.system.charInfos.weight}}" placeholder="{{localize 'destinyjdr.sheet.weight'}}">
        </div>

      </div>

    </div>

    <div class="character-infomain-2">

      <a class="character-infomain-bodyloc tooltipdiv">
        <i class="fas fa-male"></i>
        <span class="tooltiptext">{{localize 'destinyjdr.sheet.damageLocalisation'}}</span>
      </a>

      <div class="character-infomain-level">
        <p>Level </p>
        <input class="character-infomain-xpinput" maxlength="2" type="text" name="data.levelBased.level" value="{{actor.system.levelBased.level}}">
      </div>

      <a class="character-infomain-meleeattack tooltipdiv" data-type="1">
        <i class="fa-solid fa-hand-fist"></i>
        <span class="tooltiptext">{{localize 'destinyjdr.itemText.meleeattack'}}</span>
      </a>

      {{#if (eq actor.system.class "warlock")}}
        <a class="character-infomain-warlockmelee tooltipdiv" data-type="2">
          <i class="fa-solid fa-hand" alt="{{localize 'destinyjdr.itemText.warlockmelee'}}"></i>
          <span class="tooltiptext">{{localize 'destinyjdr.itemText.warlockmelee'}}</span>
        </a>
      {{/if}}

      <div class="character-infomain-travelerpower">
        <p>Puissance du Voyageur</p>
        <input class="character-infomain-powinput" max="35" type="number" name="data.travelerspower.value" value="{{actor.system.travelerspower.value}}">
      </div>

      <div class="character-infomain-xp">
        <div class="character-infomain-xp-total">
          <p>XP Tot.</p>
          <input class="character-infomain-xpvalueinput" max="99999" type="number" name="data.levelBased.totalXP" value="{{actor.system.levelBased.totalXP}}">
        </div>
        <div class="character-infomain-xp-current">
          <p>XP Res.</p>
          <input class="character-infomain-xpvalueinput" max="99999" type="number" name="data.levelBased.currentXP" value="{{actor.system.levelBased.currentXP}}">
        </div>
      </div>

    </div>

  </div>

</section>