<div class="dice-roll">
    <div class="dice-result">
        {{#if (eq item.data.system.rarity "worn")}}
            <div class="destinyjdr-destructionname color-worn">
        {{/if}}

        {{#if (eq item.data.system.rarity "goodquality")}}
            <div class="destinyjdr-destructionname color-goodquality">
        {{/if}}

        {{#if (eq item.data.system.rarity "outstandingquality")}}
            <div class="destinyjdr-destructionname color-outstandingquality">
        {{/if}}

        {{#if (eq item.data.system.rarity "masterpiece")}}
            <div class="destinyjdr-destructionname color-masterpiece">
        {{/if}}

        {{#if (eq item.data.system.rarity "exotic")}}
            <div class="destinyjdr-destructionname color-exotic">
        {{/if}}

        {{#if (eq item.data.system.rarity "enlightened")}}
            <div class="destinyjdr-destructionname color-enlightened">
        {{/if}}

        {{#if (eq item.data.system.rarity "sunk")}}
            <div class="destinyjdr-destructionname color-sunk">
        {{/if}}
            {{item.data.name}}
        </div>
        <img class="destinyjdr-destrimg" src="{{item.data.img}}">
        {{#if (eq difficulty 1)}}
            <p class="destinyjdr-armorbreak-p1">{{localize "destinyjdr.sheet.destructionSaveDifficulty1"}}</p>
            {{#ifSuperiorOrEquals rollResult.total 10}}
                <div class="checkdiv-2-success">
                    <p>{{localize "destinyjdr.simpleCheck.success"}}</p>
                </div>
                <img class="destinyjdr-armorbreakimg" src="systems/destinyjdr/assets/img/rolls/destruction/destruction_save1.webp">
                <h2 class="destinyjdr-armorbreak-total destrsuccess">{{rollResult.total}}</h2>
            {{else}}
                <div class="checkdiv-2-failure">
                    <p>{{localize "destinyjdr.simpleCheck.failure"}}</p>
                </div>
                <img class="destinyjdr-armorbreakimg" src="systems/destinyjdr/assets/img/rolls/destruction/destruction_save2.webp">
                <h2 class="destinyjdr-armorbreak-total">{{rollResult.total}}</h2>
            {{/ifSuperiorOrEquals}}
        {{/if}}
        {{#if (eq difficulty 2)}}
            <p class="destinyjdr-armorbreak-p1">{{localize "destinyjdr.sheet.destructionSaveDifficulty2"}}</p>
            {{#ifSuperiorOrEquals rollResult.total 15}}
                <div class="checkdiv-2-success">
                    <p>{{localize "destinyjdr.simpleCheck.success"}}</p>
                </div>
                <img class="destinyjdr-armorbreakimg" src="systems/destinyjdr/assets/img/rolls/destruction/destruction_save1.webp">
                <h2 class="destinyjdr-armorbreak-total destrsuccess">{{rollResult.total}}</h2>
            {{else}}
                <div class="checkdiv-2-failure">
                    <p>{{localize "destinyjdr.simpleCheck.failure"}}</p>
                </div>
                <img class="destinyjdr-armorbreakimg" src="systems/destinyjdr/assets/img/rolls/destruction/destruction_save2.webp">
                <h2 class="destinyjdr-armorbreak-total">{{rollResult.total}}</h2>
            {{/ifSuperiorOrEquals}}
        {{/if}}
    </div>
</div>
