{{#if inSheet}}

    {{#if (eq type "armor")}}
        <div data-type="item" class="item-card item reveal-rollable {{this.system.armorType}}" data-item-id={{_id}} data-item-type={{type}} data-armoractive={{this.system.armorType}}>
    {{else}}
        <div data-type="item" class="item-card item reveal-rollable" data-item-id={{_id}} data-item-type={{type}}>
    {{/if}}

        {{#if (eq type "mutation")}}
            <p class="item-mutationorflaw-name">{{name}}</p>
            <p class="item-mutationorflaw-label">{{localize 'destinyjdr.sheettext.mutations'}}</p>
        {{/if}}

        {{#if (eq type "flaw")}}
            <p class="item-mutationorflaw-name">{{name}}</p>
            <p class="item-mutationorflaw-label">{{localize 'destinyjdr.sheettext.flaws'}}</p>
        {{/if}}

        {{#if (eq type "ghost")}}
            <img src="systems/destinyjdr/assets/img/ghosts/ghost.png">
            <div class="ghostname">{{name}}</div>
        {{/if}}

        {{#if (eq type "super")}}
            <img class="item-super-img" src="{{img}}">
            <div class="item-super-infos">
                {{#if (eq this.system.element "solar")}}
                    <p class="item-super-name color-solar">{{name}}</p>
                {{/if}}
                {{#if (eq this.system.element "arc")}}
                    <p class="item-super-name color-arc">{{name}}</p>
                {{/if}}
                {{#if (eq this.system.element "void")}}
                    <p class="item-super-name color-void">{{name}}</p>
                {{/if}}
                {{#if (eq this.system.element "stasis")}}
                    <p class="item-super-name color-stasis">{{name}}</p>
                {{/if}}
                {{#if (eq this.system.element "strand")}}
                    <p class="item-super-name color-strand">{{name}}</p>
                {{/if}}
                {{#if (eq this.system.element "vertant")}}
                    <p class="item-super-name color-vertant">{{name}}</p>
                {{/if}}
                {{#if (eq this.system.element "offaxis")}}
                    <p class="item-super-name color-offaxis">{{name}}</p>
                {{/if}}
                <p class="item-super-cost">{{localize 'destinyjdr.itemText.costText'}}:{{this.system.cost}}</p>
            </div>
        {{/if}}

        {{#if (eq type "trait")}}
            <p class="item-trait-name">{{name}}</p>
            {{#if (eq this.system.linked "no")}}
                <p class="item-trait-label">{{localize 'destinyjdr.linkedTrait.noText'}}</p>
            {{/if}}
            {{#if (eq this.system.linked "yes")}}
                <p class="item-trait-label">{{localize 'destinyjdr.linkedTrait.yesText'}}</p>
            {{/if}}
            {{#if (eq this.system.linked "class")}}
                <p class="item-trait-label">{{localize 'destinyjdr.linkedTrait.classText'}}</p>
            {{/if}}
        {{/if}}

        {{#if (eq type "skill")}}
            <p class="item-skill-name">{{name}}</p>
        {{/if}}

        {{#if (eq type "armor")}}
            <p class="item-armor-name">{{name}}</p>
            {{#if (eq this.system.armorType "head")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.head'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "arms")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.arms'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "chest")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.chest'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "legs")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.legs'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "class")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.class'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "headactive")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.head'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "armsactive")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.arms'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "chestactive")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.chest'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "legsactive")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.legs'}}</p>
            {{/if}}
            {{#if (eq this.system.armorType "classactive")}}
                <p class="item-trait-label">{{localize 'destinyjdr.armorText.class'}}</p>
            {{/if}}
                <p class="item-trait-value"><span>{{localize 'destinyjdr.sheet.armorDots'}}</span>{{this.system.value}}</p>
            {{/if}}

        {{#if (eq type "object")}}
            <div class="item-info item-name" style="height: 100%;display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
                <p class="item-name-name" style="height: auto;white-space: break-spaces;text-overflow: unset;overflow: unset;">{{name}}</p>
            </div>
        {{/if}}

        {{#if (eq type "weapon")}}
            <div class="item-info item-name">
                {{#if (eq this.system.weaponType "melee")}}
                    <div class="item-name-infos3">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_melee.png" title="{{localize config.weaponTypes.melee}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "explosive")}}
                    <div class="item-name-infos2">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_explosive.png" title="{{localize config.weaponTypes.explosive}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "autorifle")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_autorifle.svg" title="{{localize config.weaponTypes.autorifle}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "submachinegun")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_submachinegun.svg" title="{{localize config.weaponTypes.submachinegun}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "scoutrifle")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_scoutrifle.svg" title="{{localize config.weaponTypes.scoutrifle}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "shotgun")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_shotgun.svg" title="{{localize config.weaponTypes.shotgun}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "pulserifle")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_pulserifle.svg" title="{{localize config.weaponTypes.pulserifle}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "sniperrifle")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_sniperrifle.svg" title="{{localize config.weaponTypes.sniperrifle}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "sidearm")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_sidearm.svg" title="{{localize config.weaponTypes.sidearm}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "handcannon")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_handcannon.svg" title="{{localize config.weaponTypes.handcannon}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "fusionrifle")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_fusionrifle.svg" title="{{localize config.weaponTypes.fusionrifle}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "linearfusionrifle")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_linearfusionrifle.svg" title="{{localize config.weaponTypes.linearfusionrifle}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "sword")}}
                    <div class="item-name-infos3">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_sword.svg" title="{{localize config.weaponTypes.sword}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "grenadelauncher")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_grenadelauncher.svg" title="{{localize config.weaponTypes.grenadelauncher}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "machinegun")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_machinegun.svg" title="{{localize config.weaponTypes.machinegun}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "glaive")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_glaive.svg" title="{{localize config.weaponTypes.glaive}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "rocketlauncher")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_rocketlauncher.svg" title="{{localize config.weaponTypes.rocketlauncher}}"/>
                {{/if}}
                {{#if (eq this.system.weaponType "bow")}}
                    <div class="item-name-infos">
                        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_bow.svg" title="{{localize config.weaponTypes.bow}}"/>
                {{/if}}
                </div>
                <p class="item-name-name">{{name}}</p>
                <div class="item-name-body">
                    {{this.system.damage}}
                </div>
            </div>
        {{/if}}

    </div>

    {{#if (eq type "armor")}}
        {{#if (eq this.system.armorType "headactive")}}
            <div data-type="item" class="item-card item reveal-rollable {{this.system.armorType}}" style="display: none;"></div>
        {{/if}}
        {{#if (eq this.system.armorType "chestactive")}}
            <div data-type="item" class="item-card item reveal-rollable {{this.system.armorType}}" style="display: none;"></div>
        {{/if}}
        {{#if (eq this.system.armorType "armsactive")}}
            <div data-type="item" class="item-card item reveal-rollable {{this.system.armorType}}" style="display: none;"></div>
        {{/if}}
        {{#if (eq this.system.armorType "legsactive")}}
            <div data-type="item" class="item-card item reveal-rollable {{this.system.armorType}}" style="display: none;"></div>
        {{/if}}
        {{#if (eq this.system.armorType "classactive")}}
            <div data-type="item" class="item-card item reveal-rollable {{this.system.armorType}}" style="display: none;"></div>
        {{/if}}
    {{/if}}

{{/if}}