{{#if inSheet}}
    <div data-type="item" class="weapon-card item reveal-rollable" data-item-id={{_id}}>
        <div class="weapon-info weapon-name">
            <p class="weapon-name-name">{{data.name}}</p>
            <div class="weapon-name-body">
                {{data.system.damage}}
            </div>
        </div>
    </div>
{{else}}
    <div class="dice-roll">
        <div class="dice-result">
            <div class="destinyjdr-cardintro" style="height: auto;">
                <img class="destinyjdr-weaponcheck-img" src="{{img}}" style="width: 100%;">
                <div class="destinyjdr-dice-weapontitle" style="width: 100%;border: unset;position: relative;font-family: 'Quicksand', sans-serif;text-align: center;padding: 0;color: #525252;z-index: 2;font-weight: 600;letter-spacing: 0;font-size: 14px !important;line-height: 28px !important;background: rgba(0, 0, 0, 0.1);border-radius: 3px;box-shadow: 0 0 2px #FFF inset;word-break: break-all;max-width: unset;margin: 8px 0 3px 0;">
                    {{data.name}}
                </div>
            </div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <div class="destinyjdr-weaponperk-show-perk" style="margin-top: 18px;">
                            {{#if (eq this.type "super")}}
                                <div class="destinyjdr-weaponperk-show">
                                    <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.sheet.overview"}}</p>
                                    <div class="destinyjdr-cardtext">{{{data.system.overview}}}</div>
                                    <div class="brspace"></div>
                                </div>
                            {{/if}}
                            <div class="destinyjdr-weaponperk-show">
                                <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.description"}}</p>
                                <p class="destinyjdr-cardtext">{{data.system.description}}</p>
                                <div class="brspace"></div>
                            </div>
                            {{#if (eq this.type "object")}}
                                {{#if data.system.effect}}
                                    <div class="destinyjdr-weaponperk-show">
                                        <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.effect"}}</p>
                                        <div class="destinyjdr-cardtext">{{{data.system.effect}}}</div>
                                        <div class="brspace"></div>
                                    </div>
                                {{/if}}
                            {{/if}}
                        </div>
                    </div>
                </section>
            </div>
            <div class="destinyjdr-item-endline">
                <img class="deploy-down" src="systems/destinyjdr/assets/img/rolls/misc/expand-down.png">
                {{#if (eq this.type "super")}}
                    <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.sheet.super"}}</p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                    <p class="destinyjdr-item-endline-element">
                        {{#if (eq this.system.element "solar")}}
                            <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                        {{/if}}
                        {{#if (eq this.system.element "arc")}}
                            <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                        {{/if}}
                        {{#if (eq this.system.element "void")}}
                            <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                        {{/if}}
                        {{#if (eq this.system.element "stasis")}}
                            <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                        {{/if}}
                        {{#if (eq this.system.element "strand")}}
                            <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                        {{/if}}
                        {{#if (eq this.system.element "vertant")}}
                            <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                        {{/if}}
                        {{#if (eq this.system.element "offaxis")}}
                            <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                        {{/if}}
                    </p>
                {{else}}
                    <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.sheet.object"}}</p>
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}