<div class="dice-roll">
    <div class="dice-result">

        <img class="destinyjdr-weaponcheck-img-2" src="{{data.img}}" style="max-height:80px;">

        {{#if (eq data.type "trait")}}
            <div class="dice-formula destinyjdr-dice-formula-weapon">
                {{data.name}}
            </div>
            <div class="destinyjdr-weaponperk-show-perk">
                <div class="destinyjdr-weaponperk-show">
                    <div class="destinyjdr-cardtext">{{{system.effect}}}</div>
                </div>
            </div>
            <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
                <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.itemText.perkText"}}</p>
            </div>
        {{/if}}

        {{#if (eq data.type "skill")}}
            <div class="dice-formula destinyjdr-dice-formula-weapon">
                {{data.name}}
            </div>
            <div class="destinyjdr-weaponperk-show" style="margin-top: 1px;padding: 1px 5px 4px;width: 100%;height: auto;position: relative;">
                <div class="destinyjdr-cardtext">{{{system.description}}}</div>
            </div>
            <div class="destinyjdr-weaponperk-show-perk">
                <div class="destinyjdr-weaponperk-show">
                    <div class="destinyjdr-cardtext">{{{system.effect}}}</div>
                </div>
            </div>

            <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
                <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.itemText.skillText"}}</p>
                {{#if (eq this.system.damageelement "class")}}{{else}}
                    <p class="destinyjdr-item-endline-separator">|</p>
                    <p class="destinyjdr-item-endline-element">
                        {{#if (eq this.system.damageelement "solar")}}
                            <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                        {{/if}}
                        {{#if (eq this.system.damageelement "arc")}}
                            <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                        {{/if}}
                        {{#if (eq this.system.damageelement "void")}}
                            <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                        {{/if}}
                        {{#if (eq this.system.damageelement "stasis")}}
                            <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                        {{/if}}
                        {{#if (eq this.system.damageelement "strand")}}
                            <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                        {{/if}}
                        {{#if (eq this.system.damageelement "vertant")}}
                            <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                        {{/if}}
                        {{#if (eq this.system.damageelement "offaxis")}}
                            <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                        {{/if}}
                    </p>
                {{/if}}
            </div>
        {{/if}}

    </div>
</div>
