<div class="dice-roll">
    <div class="dice-result">

        {{#if (eq data.race "mecanical1")}}
            {{#if (eq talentSkillType "raceskill")}}
                <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/crush.webp" title="{{data.compname}}">
            {{else}}
                <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/{{data.compname1}}.webp" title="{{data.compname}}">
            {{/if}}
        {{else}}
            {{#if (eq data.race "mecanical2")}}
                {{#if (eq talentSkillType "raceskill")}}
                    <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/crush.webp" title="{{data.compname}}">
                {{else}}
                    <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/{{data.compname1}}.webp" title="{{data.compname}}">
                {{/if}}
            {{else}}
                {{#if (eq data.race "mecanical3")}}
                    {{#if (eq talentSkillType "raceskill")}}
                        <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/crush.webp" title="{{data.compname}}">
                    {{else}}
                        <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/{{data.compname1}}.webp" title="{{data.compname}}">
                    {{/if}}
                {{else}}
                    {{#if (eq data.race "mecanical4")}}
                        {{#if (eq talentSkillType "raceskill")}}
                            <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/crush.webp" title="{{data.compname}}">
                        {{else}}
                            <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/{{data.compname1}}.webp" title="{{data.compname}}">
                        {{/if}}
                    {{else}}
                        {{#if (eq data.race "mecanical5")}}
                            {{#if (eq talentSkillType "raceskill")}}
                                <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/crush.webp" title="{{data.compname}}">
                            {{else}}
                                <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/{{data.compname1}}.webp" title="{{data.compname}}">
                            {{/if}}
                        {{else}}
                            {{#if (eq data.race "mecanical6")}}
                                {{#if (eq talentSkillType "raceskill")}}
                                    <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/crush.webp" title="{{data.compname}}">
                                {{else}}
                                    <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/mecanical/{{data.compname1}}.webp" title="{{data.compname}}">
                                {{/if}}
                            {{else}}
                                <img class="destinyjdr-weaponcheck-img" src="systems/destinyjdr/assets/img/talentsandskills/{{data.race}}/{{data.compname1}}.webp" title="{{data.compname}}">
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        
        <div class="dice-formula destinyjdr-dice-formula-weapon">
            {{data.compname}}
        </div>

        {{#if (eq talentSkillType "startertalent")}}
            <div class="destinyjdr-spellcard-show">
                <p class="destinyjdr-spellcard-card-unsealing">{{localize 'destinyjdr.sheettext.startertalent'}}</p>
            </div>
        {{/if}}

        {{#if (eq talentSkillType "raceskill")}}
            <div class="destinyjdr-spellcard-show">
                <p class="destinyjdr-spellcard-card-thought">{{localize 'destinyjdr.sheettext.raceskill'}}</p>
            </div>
        {{/if}}

        <img class="deploy-down" src="systems/destinyjdr/assets/img/rolls/misc/expand-down.png">

        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">
                        </span>
                    </header>
                    <ol class="dice-rolls">
                        <li>
                            <div class="destinyjdr-weaponperk-show-talent">
                                <p>{{{data.compdesc}}}</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </section>
        </div>

    </div>
</div>
