<div class="tchat-card">
    <div class="tchat-info">
        <img class="tchat-info-img" src="systems/destinyjdr/assets/img/combat/damage_loc/{{raceNum}}.webp">
        <img class="tchat-info-damageimg" src="systems/destinyjdr/assets/img/combat/damage_loc/damage_{{locaHit.id}}.webp">
        <div class="destinyjdr-body-parts">
            {{#if rollResult}}
                <img class="destinyjdr-body-parts-dice" src="systems/destinyjdr/assets/img/dice/d10-grey.svg">
                <p class="body-roll {{bodyClass}}">{{rollResult}}</p>
                {{#each localist as |loca key|}}
                <p class="{{loca.cssClasses}}">{{#if loca.isHit}}->{{/if}}{{loca.name}}</p>
                {{/each}}
            {{else}}
                <p class="body-race">{{raceName}}</p>
                {{#each localist as |loca key|}}
                <p class="{{loca.cssClasses}}">{{loca.name}}</p>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>