{{log this}}
<div class="dice-roll" data-actor-id="{{actorID}}" data-attacktype="weapon">
    <div class="destinyjdr-dice-result dice-result">
        <div class="destinyjdr-weapondamage-header">
            {{#if (eq meleeattack 0)}}
                <img class="destinyjdr-weapondamage-img" src="{{rollData.itemImg}}">
            {{else}}
                <img class="destinyjdr-weapondamage-img" src="\systems\destinyjdr\assets\img\combat\melee\fist_{{meleeelement}}.webp" style="width: 112px;margin: 0;top: 0;left: -5px;position: absolute;height: 152px;object-fit: scale-down;">
            {{/if}}
            {{#if (eq meleeattack 0)}}
                <div class="destinyjdr-weapondamage-headercontent">
            {{else}}
                <div class="destinyjdr-weapondamage-headercontent" style="width: 58%;margin: 0 0 0 auto;">
            {{/if}}
                <div class="destinyjdr-weapondamage-headercontent-1">
                    {{#if (eq meleeattack 0)}}
                        {{#if (eq rarity "worn")}}
                            <p class="destinyjdr-dice-weapontitle2 color-worn">{{rollData.itemName}}</p>
                        {{/if}}
                        {{#if (eq rarity "goodquality")}}
                            <p class="destinyjdr-dice-weapontitle2 color-goodquality">{{rollData.itemName}}</p>
                        {{/if}}
                        {{#if (eq rarity "outstandingquality")}}
                            <p class="destinyjdr-dice-weapontitle2 color-outstandingquality">{{rollData.itemName}}</p>
                        {{/if}}
                        {{#if (eq rarity "masterpiece")}}
                            <p class="destinyjdr-dice-weapontitle2 color-masterpiecenobold">{{rollData.itemName}}</p>
                        {{/if}}
                        {{#if (eq rarity "exotic")}}
                            <p class="destinyjdr-dice-weapontitle2 color-exoticnobold">{{rollData.itemName}}</p>
                        {{/if}}
                        {{#if (eq rarity "enlightened")}}
                            <p class="destinyjdr-dice-weapontitle2 color-enlightenednobold">{{rollData.itemName}}</p>
                        {{/if}}
                        {{#if (eq rarity "sunk")}}
                            <p class="destinyjdr-dice-weapontitle2 color-sunknobold">{{rollData.itemName}}</p>
                        {{/if}}
                    {{else}}
                        {{#if (eq meleeattack 1)}}
                            <p class="destinyjdr-dice-weapontitle2 meleeattacktitle color-worn" style="margin: 0 0 58px 0;opacity: 0.055;font-size: 128px;line-height: 150px;width: 172%;top: -63px;">{{localize "destinyjdr.itemText.meleeattack2"}}</p>
                        {{else}}
                            <p class="destinyjdr-dice-weapontitle2 meleeattacktitle color-{{meleeelement}}" style="margin: 0 0 58px 0;">{{localize "destinyjdr.itemText.warlockmelee2"}}</p>
                        {{/if}}
                    {{/if}}
                    <p class="destinyjdr-centerstrong">
                        {{#if (eq weaponType "melee")}}
                            {{localize "destinyjdr.weapontype.melee"}}
                        {{/if}}
                        {{#if (eq weaponType "explosive")}}
                            {{localize "destinyjdr.weapontype.explosive"}}
                        {{/if}}
                        {{#if (eq weaponType "autorifle")}}
                            {{localize "destinyjdr.weapontype.autorifle"}}
                        {{/if}}
                        {{#if (eq weaponType "submachinegun")}}
                            {{localize "destinyjdr.weapontype.submachinegun"}}
                        {{/if}}
                        {{#if (eq weaponType "scoutrifle")}}
                            {{localize "destinyjdr.weapontype.scoutrifle"}}
                        {{/if}}
                        {{#if (eq weaponType "shotgun")}}
                            {{localize "destinyjdr.weapontype.shotgun"}}
                        {{/if}}
                        {{#if (eq weaponType "pulserifle")}}
                            {{localize "destinyjdr.weapontype.pulserifle"}}
                        {{/if}}
                        {{#if (eq weaponType "sniperrifle")}}
                            {{localize "destinyjdr.weapontype.sniperrifle"}}
                        {{/if}}
                        {{#if (eq weaponType "sidearm")}}
                            {{localize "destinyjdr.weapontype.sidearm"}}
                        {{/if}}
                        {{#if (eq weaponType "handcannon")}}
                            {{localize "destinyjdr.weapontype.handcannon"}}
                        {{/if}}
                        {{#if (eq weaponType "fusionrifle")}}
                            {{localize "destinyjdr.weapontype.fusionrifle"}}
                        {{/if}}
                        {{#if (eq weaponType "linearfusionrifle")}}
                            {{localize "destinyjdr.weapontype.linearfusionrifle"}}
                        {{/if}}
                        {{#if (eq weaponType "sword")}}
                            {{localize "destinyjdr.weapontype.sword"}}
                        {{/if}}
                        {{#if (eq weaponType "grenadelauncher")}}
                            {{localize "destinyjdr.weapontype.grenadelauncher"}}
                        {{/if}}
                        {{#if (eq weaponType "machinegun")}}
                            {{localize "destinyjdr.weapontype.machinegun"}}
                        {{/if}}
                        {{#if (eq weaponType "glaive")}}
                            {{localize "destinyjdr.weapontype.glaive"}}
                        {{/if}}
                        {{#if (eq weaponType "rocketlauncher")}}
                            {{localize "destinyjdr.weapontype.rocketlauncher"}}
                        {{/if}}
                        {{#if (eq weaponType "bow")}}
                            {{localize "destinyjdr.weapontype.bow"}}
                        {{/if}}
                    </p>
                </div>
                {{#if (eq meleeattack 0)}}
                    {{#if (eq weaponType "rocketlauncher")}}
                        <div class="destinyjdr-weapondamage-headercontent-3">
                            <p style="color: rgb(255 0 0);font-size: 16px;margin: 0 0 10px 0;">{{localize "destinyjdr.weapontype.explosive"}}</p>
                            <div class="destinyjdr-weapondamage-headercontent-3-bg"></div>
                        </div>
                    {{else}}
                        {{#if (eq weaponType "grenadelauncher")}}
                            <div class="destinyjdr-weapondamage-headercontent-3">
                                <p style="color: rgb(255 0 0);font-size: 16px;margin: 0 0 10px 0;">{{localize "destinyjdr.weapontype.explosive"}}</p>
                                <div class="destinyjdr-weapondamage-headercontent-3-bg"></div>
                            </div>
                        {{else}}
                            {{#if (eq weaponType "explosive")}}
                                <div class="destinyjdr-weapondamage-headercontent-3">
                                    <p style="color: rgb(255 0 0);font-size: 16px;margin: 0 0 10px 0;">{{localize "destinyjdr.weapontype.explosive"}}</p>
                                    <div class="destinyjdr-weapondamage-headercontent-3-bg"></div>
                                </div>
                            {{else}}
                                <div class="destinyjdr-weapondamage-headercontent-3">
                                    <p>{{localize "destinyjdr.itemText.weaponPenetrationText"}}</p>
                                    <div class="destinyjdr-lightdamagebox">{{rollData.weaponPenetration}}</div>
                                    <div class="destinyjdr-weapondamage-headercontent-3-bg"></div>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
            <div class="destinyjdr-weapondamage-headerinfos">
                {{#if (eq weaponElement "kinetic")}}
                    <p class="destinyjdr-damagetitle color1">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq weaponElement "solar")}}
                    <p class="destinyjdr-damagetitle color1">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq weaponElement "arc")}}
                    <p class="destinyjdr-damagetitle color2">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq weaponElement "void")}}
                    <p class="destinyjdr-damagetitle color1">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq weaponElement "stasis")}}
                    <p class="destinyjdr-damagetitle color2">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq weaponElement "strand")}}
                    <p class="destinyjdr-damagetitle color3">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq weaponElement "vertant")}}
                    <p class="destinyjdr-damagetitle" style="color: #D34210 !important;opacity: 0.75 !important;">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq weaponElement "offaxis")}}
                    <p class="destinyjdr-damagetitle" style="color: #0c6e4a !important;opacity: 0.75 !important;">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{/if}}
                {{#if (eq meleeattack 1)}}
                    <p class="destinyjdr-damagetitle color1" style="text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                {{else}}
                    {{#if (eq meleeattack 2)}}
                        {{#if (eq meleeelement "solar")}}
                            <p class="destinyjdr-damagetitle color1" style="text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                        {{/if}}
                        {{#if (eq meleeelement "arc")}}
                            <p class="destinyjdr-damagetitle color2" style="text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                        {{/if}}
                        {{#if (eq meleeelement "void")}}
                            <p class="destinyjdr-damagetitle color1" style="text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                        {{/if}}
                        {{#if (eq meleeelement "stasis")}}
                            <p class="destinyjdr-damagetitle color2" style="text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                        {{/if}}
                        {{#if (eq meleeelement "strand")}}
                            <p class="destinyjdr-damagetitle color3" style="text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                        {{/if}}
                        {{#if (eq meleeelement "vertant")}}
                            <p class="destinyjdr-damagetitle" style="color: #D34210 !important;opacity: 0.75 !important;text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                        {{/if}}
                        {{#if (eq meleeelement "offaxis")}}
                            <p class="destinyjdr-damagetitle" style="color: #0c6e4a !important;opacity: 0.75 !important;text-shadow: 0 0 30px #ffffff;opacity: 0.38;">{{localize "destinyjdr.itemText.damageText"}}</p>
                        {{/if}}
                    {{/if}}
                {{/if}}
                {{#if error}}
                    <div class="destinyjdr-damagebox">
                        {{#if (eq weaponType "sword")}}
                            <p style="width: auto;">{{addition rollResult.total swordstrengthdamage}}</p>
                        {{else}}
                            <p style="width: auto;">{{rollResult.total}}</p>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        </div>
        {{#if (eq meleeattack 0)}}
            <div class="destinyjdr-weapondamage-separator"></div>
        {{else}}
            <div class="destinyjdr-weapondamage-separator" style="width: 58%;margin: 1px 0 5px auto;"></div>
        {{/if}}

        {{#if error}}
            {{#if (eq meleeattack 0)}}
                <div class="destinyjdr-weapondamage-damage">
            {{else}}
                <div class="destinyjdr-weapondamage-damage" style="width: 58%;margin: 0 0 11px auto;">
            {{/if}}
                <p class="destinyjdr-critical-display">
                    {{critString rollResult.terms}}
                </p>

                {{#if isreroll1}}

                {{#if (eq weaponType "sword")}}
                    <ul class="dice-rolls sworddices">
                {{else}}
                    <ul class="dice-rolls">
                {{/if}}

                        {{#each rollResult.terms as |object key|}}

                            {{#if object.operator}}
                            {{else}}

                                {{#ifStringContainsGroup @index ../array_of_rerolls_group}}

                                    {{#ifSuperiorOrEquals this.number 10}}
                                        {{#ifSuperiorOrEquals this.number 15}}
                                            <p class="errortext">{{localize "destinyjdr.simpleMessage.rollValueError"}}</p>
                                        {{else}}
                                            <li class="rolls-group lotofdices rerolled" data-group="{{@index}}">
                                        {{/ifSuperiorOrEquals}}
                                    {{else}}
                                        <li class="rolls-group rerolled" data-group="{{@index}}">
                                    {{/ifSuperiorOrEquals}}
                                    {{#ifSuperiorOrEquals this.number 15}}
                                    {{else}}
                                        <div class="rolls-group-bg"></div>
                                        {{#each this.results}}
                                            
                                            {{#ifStringContainsGroupAndDice @../index @index ../../array_of_rerolls_infos}}

                                                <div class="rerolledminigroup" data-dicefaces="{{../../newRollResult.terms.[0].faces}}" data-position="{{@index}}" data-score1="{{this.result}}" data-score2="{{../../newRollResult.terms.[0].results.[0].result}}">

                                                    {{#ifEquals this.faces 4}}
                                                        <div class="roll die diererolled" data-faces="{{this.faces}}" data-score="{{this.result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{this.result}}</span><div class="diebg d{{this.faces}}"></div></div>
                                                    {{else}}
                                                        {{#ifSuperiorOrEquals this.result this.faces}}
                                                            <div class="roll max die diererolled" data-faces="{{this.faces}}" data-score="{{this.result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{this.result}}</span><div class="diebg d{{this.faces}}"></div></div>
                                                        {{else}}
                                                            <div class="roll die diererolled" data-faces="{{this.faces}}" data-score="{{this.result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{this.result}}</span><div class="diebg d{{this.faces}}"></div></div>
                                                        {{/ifSuperiorOrEquals}}
                                                    {{/ifEquals}}

                                                    {{#each this.array_of_rerolls_dicevalue as |dice key|}}

                                                        {{#ifEquals @../../index dice.options.group_position}}
                                                          {{#ifEquals @../index dice.options.dice_position}}
                                                            {{#ifEquals dice.terms.[0].faces 4}}
                                                                <div class="roll die diererolled" data-faces="{{dice.terms.[0].faces}}" data-score="{{dice.terms.[0].results.[0].result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{dice.terms.[0].results.[0].result}}</span><div class="diebg d{{dice.terms.[0].faces}}"></div></div>
                                                            {{else}}
                                                                {{#ifSuperiorOrEquals dice.terms.[0].results.[0].result dice.terms.[0].faces}}
                                                                    <div class="roll max die diererolled" data-faces="{{dice.terms.[0].faces}}" data-score="{{dice.terms.[0].results.[0].result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{dice.terms.[0].results.[0].result}}</span><div class="diebg d{{dice.terms.[0].faces}}"></div></div>
                                                                {{else}}
                                                                    <div class="roll die diererolled" data-faces="{{dice.terms.[0].faces}}" data-score="{{dice.terms.[0].results.[0].result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{dice.terms.[0].results.[0].result}}</span><div class="diebg d{{dice.terms.[0].faces}}"></div></div>
                                                                {{/ifSuperiorOrEquals}}
                                                            {{/ifEquals}}
                                                          {{/ifEquals}}
                                                        {{/ifEquals}}

                                                    {{/each}}
                                                </div>
                                                <p class="rollseparator">+</p>

                                            {{else}}

                                                {{#ifEquals object.faces 4}}
                                                    <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{else}}
                                                    {{#ifSuperiorOrEquals this.result object.faces}}
                                                        <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{else}}
                                                        <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{/ifSuperiorOrEquals}}
                                                {{/ifEquals}}
                                                <p class="rollseparator">+</p>

                                            {{/ifStringContainsGroupAndDice}}

                                        {{/each}}
                                        <p class="group-expression">{{this.number}}d{{this.faces}}</p>
                                    {{/ifSuperiorOrEquals}}
                                    </li>
                                    <li class="rollgroupseparator">+</li>

                                {{else}}

                                    {{#ifSuperiorOrEquals this.number 10}}
                                        {{#ifSuperiorOrEquals this.number 15}}
                                            <p class="errortext">{{localize "destinyjdr.simpleMessage.rollValueError"}}</p>
                                        {{else}}
                                            <li class="rolls-group lotofdices" data-group="{{@index}}">
                                        {{/ifSuperiorOrEquals}}
                                    {{else}}
                                        <li class="rolls-group" data-group="{{@index}}">
                                    {{/ifSuperiorOrEquals}}
                                    {{#ifSuperiorOrEquals this.number 15}}
                                    {{else}}
                                        <div class="rolls-group-bg"></div>
                                        {{#each this.results}}
                                            {{#ifEquals object.faces 4}}
                                                <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                            {{else}}
                                                {{#ifSuperiorOrEquals this.result object.faces}}
                                                    <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{else}}
                                                    <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{/ifSuperiorOrEquals}}
                                            {{/ifEquals}}
                                            <p class="rollseparator">+</p>
                                        {{/each}}
                                        <p class="group-expression">{{this.number}}d{{this.faces}}</p>
                                    {{/ifSuperiorOrEquals}}
                                    </li>
                                    <li class="rollgroupseparator">+</li>

                                {{/ifStringContainsGroup}}

                            {{/if}}

                        {{/each}}

                        {{#if (eq fixednumber 0)}}
                        {{else}}
                            <li class="rollseparator">+</li>
                            <li class="roll fixedpart">
                                {{fixednumber}}

                                {{#if (eq meleeattack 1)}}
                                    <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                {{/if}}
                                {{#if (eq meleeattack 2)}}
                                    <p class="group-expression intellect-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.INTstat"}}</p>
                                {{/if}}

                            </li>
                        {{/if}}

                        {{#if (eq weaponType "sword")}}
                            <li class="rollseparator swordseparator">+</li>
                            <li class="roll fixedpart">
                                {{swordstrengthdamage}}
                                <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                            </li>
                        {{/if}}

                    </ul>

                {{else}}

                    {{#if isreroll2}}

                        {{#if (eq weaponType "sword")}}
                            <ul class="dice-rolls sworddices">
                        {{else}}
                            <ul class="dice-rolls">
                        {{/if}}

                            {{#each rollResult.terms as |object key|}}

                                {{#if object.operator}}
                                {{else}}
                                    {{#ifEquals ../group_position @index}}

                                        {{#ifSuperiorOrEquals this.number 10}}
                                            {{#ifSuperiorOrEquals this.number 15}}
                                                <p class="errortext">{{localize "destinyjdr.simpleMessage.rollValueError"}}</p>
                                            {{else}}
                                                <li class="rolls-group lotofdices rerolled" data-group="{{@index}}">
                                            {{/ifSuperiorOrEquals}}
                                        {{else}}
                                            <li class="rolls-group rerolled" data-group="{{@index}}">
                                        {{/ifSuperiorOrEquals}}
                                        {{#ifSuperiorOrEquals this.number 15}}
                                        {{else}}
                                            <div class="rolls-group-bg"></div>
                                            {{#each this.results}}

                                                {{#ifEquals ../../dice_position @index}}

                                                    <div class="rerolledminigroup cannotbererolled" data-dicefaces="{{../../newRollResult.terms.[0].faces}}" data-position="{{@index}}" data-score1="{{this.result}}" data-score2="{{../../newRollResult.terms.[0].results.[0].result}}">
                                                        {{#ifEquals object.faces 4}}
                                                            <div class="roll die diererolled" data-faces="{{object.faces}}" data-score="{{this.result}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{else}}
                                                            {{#ifSuperiorOrEquals this.result object.faces}}
                                                                <div class="roll max die diererolled" data-faces="{{object.faces}}" data-score="{{this.result}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                            {{else}}
                                                                <div class="roll die diererolled" data-faces="{{object.faces}}" data-score="{{this.result}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                            {{/ifSuperiorOrEquals}}
                                                        {{/ifEquals}}

                                                        {{#ifEquals ../../newRollResult.terms.[0].faces 4}}
                                                            <div class="roll die diererolled" data-faces="{{../../newRollResult.terms.[0].faces}}" data-score="{{../../newRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newRollResult.terms.[0].faces}}"></div></div>
                                                        {{else}}
                                                            {{#ifSuperiorOrEquals ../../newRollResult.terms.[0].results.[0].result ../../newRollResult.terms.[0].faces}}
                                                                <div class="roll max die diererolled" data-faces="{{../../newRollResult.terms.[0].faces}}" data-score="{{../../newRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newRollResult.terms.[0].faces}}"></div></div>
                                                            {{else}}
                                                                <div class="roll die diererolled" data-faces="{{../../newRollResult.terms.[0].faces}}" data-score="{{../../newRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newRollResult.terms.[0].faces}}"></div></div>
                                                            {{/ifSuperiorOrEquals}}
                                                        {{/ifEquals}}

                                                        {{#ifEquals ../../newNewRollResult.terms.[0].faces 4}}
                                                            <div class="roll die diererolled" data-faces="{{../../newNewRollResult.terms.[0].faces}}" data-score="{{../../newNewRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newNewRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newNewRollResult.terms.[0].faces}}"></div></div>
                                                        {{else}}
                                                            {{#ifSuperiorOrEquals ../../newNewRollResult.terms.[0].results.[0].result ../../newNewRollResult.terms.[0].faces}}
                                                                <div class="roll max die diererolled" data-faces="{{../../newNewRollResult.terms.[0].faces}}" data-score="{{../../newNewRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newNewRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newNewRollResult.terms.[0].faces}}"></div></div>
                                                            {{else}}
                                                                <div class="roll die diererolled" data-faces="{{../../newNewRollResult.terms.[0].faces}}" data-score="{{../../newNewRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newNewRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newNewRollResult.terms.[0].faces}}"></div></div>
                                                            {{/ifSuperiorOrEquals}}
                                                        {{/ifEquals}}
                                                    </div>
                                                    <p class="rollseparator">+</p>

                                                {{else}}

                                                    {{#ifEquals object.faces 4}}
                                                        <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{else}}
                                                        {{#ifSuperiorOrEquals this.result object.faces}}
                                                            <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{else}}
                                                            <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{/ifSuperiorOrEquals}}
                                                    {{/ifEquals}}
                                                    <p class="rollseparator">+</p>

                                                {{/ifEquals}}

                                            {{/each}}
                                            <p class="group-expression">{{this.expression}}</p>
                                        {{/ifSuperiorOrEquals}}
                                        </li>
                                        <li class="rollgroupseparator">+</li>

                                    {{else}}

                                        {{#ifSuperiorOrEquals this.number 10}}
                                            {{#ifSuperiorOrEquals this.number 15}}
                                                <p class="errortext">{{localize "destinyjdr.simpleMessage.rollValueError"}}</p>
                                            {{else}}
                                                <li class="rolls-group lotofdices" data-group="{{@index}}">
                                            {{/ifSuperiorOrEquals}}
                                        {{else}}
                                            <li class="rolls-group" data-group="{{@index}}">
                                        {{/ifSuperiorOrEquals}}
                                        {{#ifSuperiorOrEquals this.number 15}}
                                        {{else}}
                                            <div class="rolls-group-bg"></div>
                                            {{#each this.results}}
                                                {{#ifEquals object.faces 4}}
                                                    <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{else}}
                                                    {{#ifSuperiorOrEquals this.result object.faces}}
                                                        <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{else}}
                                                        <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{/ifSuperiorOrEquals}}
                                                {{/ifEquals}}
                                                <p class="rollseparator">+</p>
                                            {{/each}}
                                            <p class="group-expression">{{this.expression}}</p>
                                        {{/ifSuperiorOrEquals}}
                                        </li>
                                        <li class="rollgroupseparator">+</li>

                                    {{/ifEquals}}

                                {{/if}}

                            {{/each}}

                            {{#if (eq fixednumber 0)}}
                            {{else}}
                                <li class="rollseparator">+</li>
                                <li class="roll fixedpart">
                                    {{fixednumber}}

                                    {{#if (eq meleeattack 1)}}
                                        <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                    {{/if}}
                                    {{#if (eq meleeattack 2)}}
                                        <p class="group-expression intellect-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.INTstat"}}</p>
                                    {{/if}}

                                </li>
                            {{/if}}

                            {{#if (eq weaponType "sword")}}
                                <span class="rollseparator swordseparator">+</span>
                                <span class="roll fixedpart">
                                    {{swordstrengthdamage}}
                                    <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                </span>
                            {{/if}}

                        </ul>

                    {{else}}

                        {{#if (eq weaponType "sword")}}
                            <ul class="dice-rolls sworddices">
                        {{else}}
                            <ul class="dice-rolls">
                        {{/if}}

                            {{#each rollResult.terms as |object key|}}

                                {{#if object.operator}}
                                {{else}}

                                    {{#ifSuperiorOrEquals this.number 10}}
                                        {{#ifSuperiorOrEquals this.number 15}}
                                            <p class="errortext">{{localize "destinyjdr.simpleMessage.rollValueError"}}</p>
                                        {{else}}
                                            <li class="rolls-group lotofdices" data-group="{{@index}}">
                                        {{/ifSuperiorOrEquals}}
                                    {{else}}
                                        <li class="rolls-group" data-group="{{@index}}">
                                    {{/ifSuperiorOrEquals}}
                                    {{#ifSuperiorOrEquals this.number 15}}
                                    {{else}}
                                        <div class="rolls-group-bg"></div>
                                        {{#each this.results}}
                                            {{#ifEquals object.faces 4}}
                                                <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                            {{else}}
                                                {{#ifSuperiorOrEquals this.result object.faces}}
                                                    <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{else}}
                                                    <div class="roll die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{/ifSuperiorOrEquals}}
                                            {{/ifEquals}}
                                            <p class="rollseparator">+</p>
                                        {{/each}}
                                        <p class="group-expression">{{this.expression}}</p>
                                    {{/ifSuperiorOrEquals}}
                                    </li>
                                    <li class="rollgroupseparator">+</li>

                                {{/if}}

                            {{/each}}

                            {{#if (eq fixednumber 0)}}
                            {{else}}
                                <li class="rollseparator">+</li>
                                <li class="roll fixedpart">
                                    {{fixednumber}}

                                    {{#if (eq meleeattack 1)}}
                                        <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                    {{/if}}
                                    {{#if (eq meleeattack 2)}}
                                        <p class="group-expression intellect-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.INTstat"}}</p>
                                    {{/if}}

                                </li>
                            {{/if}}

                            {{#if (eq weaponType "sword")}}
                                <span class="rollseparator swordseparator">+</span>
                                <span class="roll fixedpart">
                                    {{swordstrengthdamage}}
                                    <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                </span>
                            {{/if}}

                        </ul>

                    {{/if}}

                {{/if}}
                
            </div>
        {{else}}
            <p class="errortext">{{localize "destinyjdr.simpleMessage.rollError"}}</p>
        {{/if}}
        {{#if (eq critnumber 0)}}
        {{else}}
            <div class="destinyjdr-critdiv">
                <p class="rollseparator">+</p>
                <div class="roll die" style="pointer-events: none;">
                    <span>{{critdamage}}</span>
                    {{#if (eq critnumber 6)}}
                        <div class="diebg d4"></div>
                        <p class="group-expression">1d4</p>
                    {{else}}
                        {{#if (eq critnumber 8)}}
                            <div class="diebg d6"></div>
                            <p class="group-expression">1d6</p>
                        {{else}}
                            {{#if (eq critnumber 10)}}
                                <div class="diebg d8"></div>
                                <p class="group-expression">1d8</p>
                            {{else}}
                                {{#if (eq critnumber 12)}}
                                    <div class="diebg d10"></div>
                                    <p class="group-expression">1d10</p>
                                {{else}}
                                    {{#if (eq critnumber 20)}}
                                        <div class="diebg d12"></div>
                                        <p class="group-expression">1d12</p>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
                <p class="destinyjdr-crittitle">{{localize "destinyjdr.sheet.completeCriticalWounds"}}</p>
            </div>
        {{/if}}
        {{#if perkactivated}}
            <div class="destinyjdr-weaponperk-notif">
                <p>{{localize "destinyjdr.itemText.perkText"}}</p>
            </div>
        {{/if}}
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    {{#if perkactivated}}
                    <div class="destinyjdr-weaponperk-show-perk">
                        <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.perkText"}}</p>
                        <p class="destinyjdr-weapon-showmore-perk">{{perkname}}</p>
                        <div class="destinyjdr-weaponperk-show">
                            <div class="destinyjdr-cardtext">{{{perk}}}</div>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </section>
        </div>

        {{#if (eq meleeattack 0)}}
            {{#if perkactivated}}
                <div class="destinyjdr-item-endline" style="padding: 3px 0 0 16px;">
                    <img class="deploy-down" src="systems/destinyjdr/assets/img/rolls/misc/expand-down.png">
            {{else}}
                <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
            {{/if}}
                <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.sheet.object"}}</p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.sheet.weapon"}}</p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq weaponType "melee")}}
                        {{localize "destinyjdr.weapontype.melee"}}
                    {{/if}}
                    {{#if (eq weaponType "explosive")}}
                        {{localize "destinyjdr.weapontype.explosive"}}
                    {{/if}}
                    {{#if (eq weaponType "autorifle")}}
                        {{localize "destinyjdr.weapontype.autorifle"}}
                    {{/if}}
                    {{#if (eq weaponType "submachinegun")}}
                        {{localize "destinyjdr.weapontype.submachinegun"}}
                    {{/if}}
                    {{#if (eq weaponType "scoutrifle")}}
                        {{localize "destinyjdr.weapontype.scoutrifle"}}
                    {{/if}}
                    {{#if (eq weaponType "shotgun")}}
                        {{localize "destinyjdr.weapontype.shotgun"}}
                    {{/if}}
                    {{#if (eq weaponType "pulserifle")}}
                        {{localize "destinyjdr.weapontype.pulserifle"}}
                    {{/if}}
                    {{#if (eq weaponType "sniperrifle")}}
                        {{localize "destinyjdr.weapontype.sniperrifle"}}
                    {{/if}}
                    {{#if (eq weaponType "sidearm")}}
                        {{localize "destinyjdr.weapontype.sidearm"}}
                    {{/if}}
                    {{#if (eq weaponType "handcannon")}}
                        {{localize "destinyjdr.weapontype.handcannon"}}
                    {{/if}}
                    {{#if (eq weaponType "fusionrifle")}}
                        {{localize "destinyjdr.weapontype.fusionrifle"}}
                    {{/if}}
                    {{#if (eq weaponType "linearfusionrifle")}}
                        {{localize "destinyjdr.weapontype.linearfusionrifle"}}
                    {{/if}}
                    {{#if (eq weaponType "sword")}}
                        {{localize "destinyjdr.weapontype.sword"}}
                    {{/if}}
                    {{#if (eq weaponType "grenadelauncher")}}
                        {{localize "destinyjdr.weapontype.grenadelauncher"}}
                    {{/if}}
                    {{#if (eq weaponType "machinegun")}}
                        {{localize "destinyjdr.weapontype.machinegun"}}
                    {{/if}}
                    {{#if (eq weaponType "glaive")}}
                        {{localize "destinyjdr.weapontype.glaive"}}
                    {{/if}}
                    {{#if (eq weaponType "rocketlauncher")}}
                        {{localize "destinyjdr.weapontype.rocketlauncher"}}
                    {{/if}}
                    {{#if (eq weaponType "bow")}}
                        {{localize "destinyjdr.weapontype.bow"}}
                    {{/if}}
                </p>
                <p class="destinyjdr-item-endline-separator">|</p>
                {{#if (eq weaponType "autorifle")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.classic"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "submachinegun")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.classic"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "scoutrifle")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.classic"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "shotgun")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.lumen"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "pulserifle")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.classic"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "sniperrifle")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.lumen"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "sidearm")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.classic"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "handcannon")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.classic"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "fusionrifle")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.lumen"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "linearfusionrifle")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.heavy"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "grenadelauncher")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.heavy"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "machinegun")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.heavy"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "glaive")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.lumen"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "rocketlauncher")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.heavy"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                {{#if (eq weaponType "bow")}}
                    <p class="destinyjdr-item-endline-element">
                        {{localize "destinyjdr.ammotype.arrow"}}
                    </p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                {{/if}}
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq weaponElement "kinetic")}}
                        {{localize "destinyjdr.weaponelement.kinetic"}}
                    {{/if}}
                    {{#if (eq weaponElement "solar")}}
                        <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                    {{/if}}
                    {{#if (eq weaponElement "arc")}}
                        <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                    {{/if}}
                    {{#if (eq weaponElement "void")}}
                        <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                    {{/if}}
                    {{#if (eq weaponElement "stasis")}}
                        <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                    {{/if}}
                    {{#if (eq weaponElement "strand")}}
                        <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                    {{/if}}
                    {{#if (eq weaponElement "vertant")}}
                        <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                    {{/if}}
                    {{#if (eq weaponElement "offaxis")}}
                        <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                    {{/if}}
                </p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq rarity "worn")}}
                        <span class="color-worn">{{localize "destinyjdr.generalRarity.worn"}}</span>
                    {{/if}}
                    {{#if (eq rarity "goodquality")}}
                        <span class="color-goodquality">{{localize "destinyjdr.generalRarity.goodquality"}}</span>
                    {{/if}}
                    {{#if (eq rarity "outstandingquality")}}
                        <span class="color-outstandingquality">{{localize "destinyjdr.generalRarity.outstandingquality"}}</span>
                    {{/if}}
                    {{#if (eq rarity "masterpiece")}}
                        <span class="color-masterpiecenobold">{{localize "destinyjdr.generalRarity.masterpiece"}}</span>
                    {{/if}}
                    {{#if (eq rarity "exotic")}}
                        <span class="color-exoticnobold">{{localize "destinyjdr.generalRarity.exotic"}}</span>
                    {{/if}}
                    {{#if (eq rarity "enlightened")}}
                        <span class="color-enlightenednobold">{{localize "destinyjdr.generalRarity.enlightened"}}</span>
                    {{/if}}
                    {{#if (eq rarity "sunk")}}
                        <span class="color-sunknobold">{{localize "destinyjdr.generalRarity.sunk"}}</span>
                    {{/if}}
                </p>
            </div>
            <div class="destinyjdr-dice-weaponelement" style="opacity: 1;">
                {{#if (eq weaponElement "kinetic")}}
                    <img class="highcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_kinetic.png"/>
                {{/if}}
                {{#if (eq weaponElement "solar")}}
                    <img class="lowcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_solar.png"/>
                {{/if}}
                {{#if (eq weaponElement "arc")}}
                    <img class="highcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_arc.png"/>
                {{/if}}
                {{#if (eq weaponElement "void")}}
                    <img class="lowcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_void.png"/>
                {{/if}}
                {{#if (eq weaponElement "stasis")}}
                    <img class="lowcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_stasis.png"/>
                {{/if}}
                {{#if (eq weaponElement "strand")}}
                    <img class="lowcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_strand.png"/>
                {{/if}}
                {{#if (eq weaponElement "vertant")}}
                    <img class="lowcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_vertant.png"/>
                {{/if}}
                {{#if (eq weaponElement "offaxis")}}
                    <img class="lowcolor" src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_offaxis.png"/>
                {{/if}}
            </div>
        {{else}}
            {{#if (eq meleeattack 1)}}
                <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
                    <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.itemText.meleeattack"}}</p>
                </div>
            {{else}}
                <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
                    <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.itemText.meleeattack"}}</p>
                    <p class="destinyjdr-item-endline-separator">|</p>
                    <p class="destinyjdr-item-endline-element">
                        {{#if (eq meleeelement "solar")}}
                            <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                        {{/if}}
                        {{#if (eq meleeelement "arc")}}
                            <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                        {{/if}}
                        {{#if (eq meleeelement "void")}}
                            <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                        {{/if}}
                        {{#if (eq meleeelement "stasis")}}
                            <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                        {{/if}}
                        {{#if (eq meleeelement "strand")}}
                            <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                        {{/if}}
                        {{#if (eq meleeelement "vertant")}}
                            <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                        {{/if}}
                        {{#if (eq meleeelement "offaxis")}}
                            <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                        {{/if}}
                    </p>
                </div>
            {{/if}}
        {{/if}}

</div>