<div class="dice-roll destinyjdr-1" style="margin: 0 0 14px 0;">
    <p class="dice-formula destinyjdr-dice-formula" style="position: absolute !important;margin: 1px 0 -15px 0 !important;text-shadow: 0 0 8px #d7d7d7;font-size: 25px;">{{this.item.name}}</p>
    <div class="rollstat-body">
        <img class="skillimg" src="{{this.item.img}}" title="{{this.item.name}}" style="width: 65%;left: 50%;bottom: 40%;transform: translate(-50%,50%);max-height: 86px;object-fit: scale-down;background: radial-gradient(closest-side, #999999, #9595956b, #f69d3c00);"/>
    </div>
    <img class="structelem" src="\systems\destinyjdr\assets\img\weapons\weapon_elements\weaponelement_{{item.system.damageelement}}.png" style="right: -30px;">
    {{#ifEquals this.item.system.createstruct true}}
        <div class="skill-buttoncolumn">
            <div class="skillbutton-container">
                {{#ifEquals this.item.system.structmonolith true}}
                    <button class="destinyjdr-monolithbutton color-vertant" type="button" data-item="{{this.item._id}}" data-actor="{{this.actor._id}}">{{localize "destinyjdr.flavorText.createmonolith"}}</button>
                {{else}}
                    <button class="destinyjdr-skillbutton" type="button" data-item="{{this.item._id}}" data-actor="{{this.actor._id}}">{{localize "destinyjdr.flavorText.createstructure"}}</button>
                {{/ifEquals}}
            </div>
        </div>
    {{/ifEquals}}
    <div class="dice-tooltip">
        <section class="tooltip-part">
            <div class="dice">
                <div class="destinyjdr-weaponperk-show-perk" style="margin-top: 26px;">
                    <div class="destinyjdr-weaponperk-show">
                        {{#ifNotEquals item.system.description ""}}
                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.description"}}</p>
                            <div class="destinyjdr-cardtext">{{item.system.description}}</div>
                        {{/ifNotEquals}}
                        <div class="brspace"></div>
                        {{#ifNotEquals item.system.effect ""}}
                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.effect"}}</p>
                            <div class="destinyjdr-cardtext">{{{item.system.effect}}}</div>
                        {{/ifNotEquals}}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{#if (eq this.item.type "skill")}}
        <div class="destinyjdr-item-endline" style="padding: 3px 0 0 16px;position: absolute !important;bottom: -14px !important;left: 0 !important;">
            <img class="deploy-down" src="systems/destinyjdr/assets/img/rolls/misc/expand-down.png">
            <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.itemText.skillText"}}</p>
            {{#if (eq item.system.damageelement "class")}}{{else}}
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq item.system.damageelement "solar")}}
                        <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "arc")}}
                        <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "void")}}
                        <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "stasis")}}
                        <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "strand")}}
                        <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "vertant")}}
                        <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "offaxis")}}
                        <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                    {{/if}}
                </p>
            {{/if}}
        </div>
    {{/if}}
</div>