<div class="destinyjdr-supercard dice-roll" data-actor-id="{{this.actorID}}" data-attacktype="super">
    <div class="super-mainbloc">
        <div class="super-mainbloc-img" style="height: 84px;width: 84px;">
            <img src="\systems\destinyjdr\assets\img\weapons\weapon_elements\weaponelement_{{this.element}}.png" style="left:0;top:0;position: absolute;opacity: 0.28;height: 100%;width: 100%;object-fit: scale-down;">
            {{#if (eq this.element "class")}}
                <p class="destinyjdr-damagetitle color1" style="margin: 32% 0 -11px 0;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "kinetic")}}
                <p class="destinyjdr-damagetitle color1" style="margin: 32% 0 -11px 0;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "solar")}}
                <p class="destinyjdr-damagetitle color1" style="margin: 32% 0 -11px 0;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "arc")}}
                <p class="destinyjdr-damagetitle color2" style="margin: 32% 0 -11px 0;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "void")}}
                <p class="destinyjdr-damagetitle color1" style="margin: 32% 0 -11px 0;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "stasis")}}
                <p class="destinyjdr-damagetitle color2" style="margin: 32% 0 -11px 0;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "strand")}}
                <p class="destinyjdr-damagetitle color3" style="margin: 32% 0 -11px 0;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "vertant")}}
                <p class="destinyjdr-damagetitle" style="margin: 32% 0 -11px 0;color: #D34210 !important;opacity: 0.75 !important;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if (eq this.element "offaxis")}}
                <p class="destinyjdr-damagetitle" style="margin: 32% 0 -11px 0;color: #0c6e4a !important;opacity: 0.75 !important;">{{localize "destinyjdr.sheet.result"}}</p>
            {{/if}}
            {{#if error}}
                <div class="destinyjdr-damagebox">
                    <p>{{rollResult.total}}</p>
                </div>
            {{/if}}
        </div>
        <div class="super-mainbloc-title" style="min-height: unset;width: 70%;">
            {{#if (eq meleeattack 3)}}
                <p class="destinyjdr-centerstrong">{{localize "destinyjdr.itemText.skillText"}}</p>
            {{else}}
                <p class="destinyjdr-centerstrong">{{localize "destinyjdr.sheet.super"}}</p>
            {{/if}}

            <p class="destinyjdr-dice-weapontitle2 color-{{this.element}}" style="margin: 0 0 4px 0;">{{this.name}}</p>

            {{#if error}}
                <div class="destinyjdr-weapondamage-damage">
                    <p class="destinyjdr-critical-display">
                        {{critString rollResult.terms}}
                    </p>

                    {{#if isreroll1}}

                        <ul class="dice-rolls">

                            {{#each rollResult.terms as |object key|}}

                                {{#if object.operator}}
                                {{else}}

                                    {{#ifStringContainsGroup @index ../array_of_rerolls_group}}

                                        <li class="rolls-group rerolled" data-group="{{@index}}">
                                            <div class="rolls-group-bg"></div>
                                            {{#each this.results}}
                                                
                                                {{#ifStringContainsGroupAndDice @../index @index ../../array_of_rerolls_infos}}

                                                    <div class="rerolledminigroup" data-dicefaces="{{../../newRollResult.terms.[0].faces}}" data-position="{{@index}}" data-score1="{{this.result}}" data-score2="{{../../newRollResult.terms.[0].results.[0].result}}">

                                                        {{#ifEquals this.faces 4}}
                                                            <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{this.faces}}" data-score="{{this.result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{this.result}}</span><div class="diebg d{{this.faces}}"></div></div>
                                                        {{else}}
                                                            {{#ifSuperiorOrEquals this.result this.faces}}
                                                                <div class="roll max die diererolled" data-faces="{{this.faces}}" data-score="{{this.result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{this.result}}</span><div class="diebg d{{this.faces}}"></div></div>
                                                            {{else}}
                                                                <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{this.faces}}" data-score="{{this.result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{this.result}}</span><div class="diebg d{{this.faces}}"></div></div>
                                                            {{/ifSuperiorOrEquals}}
                                                        {{/ifEquals}}

                                                        {{#each this.array_of_rerolls_dicevalue as |dice key|}}

                                                            {{#ifEquals @../../index dice.options.group_position}}
                                                                {{#ifEquals @../index dice.options.dice_position}}
                                                                    {{#ifEquals dice.terms.[0].faces 4}}
                                                                        <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{dice.terms.[0].faces}}" data-score="{{dice.terms.[0].results.[0].result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{dice.terms.[0].results.[0].result}}</span><div class="diebg d{{dice.terms.[0].faces}}"></div></div>
                                                                    {{else}}
                                                                        {{#ifSuperiorOrEquals dice.terms.[0].results.[0].result dice.terms.[0].faces}}
                                                                            <div class="roll max die diererolled" data-faces="{{dice.terms.[0].faces}}" data-score="{{dice.terms.[0].results.[0].result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{dice.terms.[0].results.[0].result}}</span><div class="diebg d{{dice.terms.[0].faces}}"></div></div>
                                                                        {{else}}
                                                                            <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{dice.terms.[0].faces}}" data-score="{{dice.terms.[0].results.[0].result}}" data-position="{{dice.[0].array_of_rerolls_group}}"><span>{{dice.terms.[0].results.[0].result}}</span><div class="diebg d{{dice.terms.[0].faces}}"></div></div>
                                                                        {{/ifSuperiorOrEquals}}
                                                                    {{/ifEquals}}
                                                                {{/ifEquals}}
                                                            {{/ifEquals}}

                                                        {{/each}}
                                                    </div>
                                                    <p class="rollseparator">+</p>

                                                {{else}}

                                                    {{#ifEquals object.faces 4}}
                                                        <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{else}}
                                                        {{#ifSuperiorOrEquals this.result object.faces}}
                                                            <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{else}}
                                                            <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{/ifSuperiorOrEquals}}
                                                    {{/ifEquals}}
                                                    <p class="rollseparator">+</p>

                                                {{/ifStringContainsGroupAndDice}}

                                            {{/each}}
                                            <p class="group-expression">{{this.number}}d{{this.faces}}</p>
                                        </li>
                                        <li class="rollgroupseparator">+</li>

                                    {{else}}

                                        <li class="rolls-group" data-group="{{@index}}">
                                            <div class="rolls-group-bg"></div>
                                            {{#each this.results}}
                                                {{#ifEquals object.faces 4}}
                                                    <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{else}}
                                                    {{#ifSuperiorOrEquals this.result object.faces}}
                                                        <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{else}}
                                                        <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{/ifSuperiorOrEquals}}
                                                {{/ifEquals}}
                                                <p class="rollseparator">+</p>
                                            {{/each}}
                                            <p class="group-expression">{{this.number}}d{{this.faces}}</p>
                                        </li>
                                        <li class="rollgroupseparator">+</li>

                                    {{/ifStringContainsGroup}}

                                {{/if}}

                            {{/each}}

                            {{#if (eq fixednumber 0)}}
                            {{else}}
                                <li class="rollseparator">+</li>
                                <li class="roll fixedpart">
                                    {{fixednumber}}

                                    {{#if (eq damagelevel "combatskill")}}
                                        <p class="group-expression combatskill-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.CSstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "aimingskill")}}
                                        <p class="group-expression aimingskill-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.ASstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "strength")}}
                                        <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "dexterity")}}
                                        <p class="group-expression dexterity-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.DEXstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "resilience")}}
                                        <p class="group-expression resilience-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.RESstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "intellect")}}
                                        <p class="group-expression intellect-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.INTstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "perception")}}
                                        <p class="group-expression perception-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.PERstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "mentalstrength")}}
                                        <p class="group-expression mentalstrength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.MSstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "charisma")}}
                                        <p class="group-expression charisma-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.CHstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "technology")}}
                                        <p class="group-expression technology-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.TECstat"}}</p>
                                    {{/if}}
                                    {{#if (eq damagelevel "superpoints")}}
                                        <p class="group-expression color-superpoint" style="text-transform: uppercase;opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 12px;letter-spacing: -0.5px;">{{localize "destinyjdr.sheet.super"}}</p>
                                    {{/if}}
                                        
                                </li>
                            {{/if}}

                        </ul>

                    {{else}}

                        {{#if isreroll2}}

                            <ul class="dice-rolls">

                                {{#each rollResult.terms as |object key|}}

                                    {{#if object.operator}}
                                    {{else}}
                                        {{#ifEquals ../group_position @index}}
                                            <li class="rolls-group rerolled" data-group="{{@index}}">
                                                <div class="rolls-group-bg"></div>
                                                {{#each this.results}}

                                                    {{#ifEquals ../../dice_position @index}}

                                                        <div class="rerolledminigroup cannotbererolled" data-dicefaces="{{../../newRollResult.terms.[0].faces}}" data-position="{{@index}}" data-score1="{{this.result}}" data-score2="{{../../newRollResult.terms.[0].results.[0].result}}">
                                                            {{#ifEquals object.faces 4}}
                                                                <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-score="{{this.result}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                            {{else}}
                                                                {{#ifSuperiorOrEquals this.result object.faces}}
                                                                    <div class="roll max die diererolled" data-faces="{{object.faces}}" data-score="{{this.result}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                                {{else}}
                                                                    <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-score="{{this.result}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                                {{/ifSuperiorOrEquals}}
                                                            {{/ifEquals}}

                                                            {{#ifEquals ../../newRollResult.terms.[0].faces 4}}
                                                                <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{../../newRollResult.terms.[0].faces}}" data-score="{{../../newRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newRollResult.terms.[0].faces}}"></div></div>
                                                            {{else}}
                                                                {{#ifSuperiorOrEquals ../../newRollResult.terms.[0].results.[0].result ../../newRollResult.terms.[0].faces}}
                                                                    <div class="roll max die diererolled" data-faces="{{../../newRollResult.terms.[0].faces}}" data-score="{{../../newRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newRollResult.terms.[0].faces}}"></div></div>
                                                                {{else}}
                                                                    <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{../../newRollResult.terms.[0].faces}}" data-score="{{../../newRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newRollResult.terms.[0].faces}}"></div></div>
                                                                {{/ifSuperiorOrEquals}}
                                                            {{/ifEquals}}

                                                            {{#ifEquals ../../newNewRollResult.terms.[0].faces 4}}
                                                                <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{../../newNewRollResult.terms.[0].faces}}" data-score="{{../../newNewRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newNewRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newNewRollResult.terms.[0].faces}}"></div></div>
                                                            {{else}}
                                                                {{#ifSuperiorOrEquals ../../newNewRollResult.terms.[0].results.[0].result ../../newNewRollResult.terms.[0].faces}}
                                                                    <div class="roll max die diererolled" data-faces="{{../../newNewRollResult.terms.[0].faces}}" data-score="{{../../newNewRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newNewRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newNewRollResult.terms.[0].faces}}"></div></div>
                                                                {{else}}
                                                                    <div class="roll die diererolled" data-damagelevel="{{damagelevel}}" data-faces="{{../../newNewRollResult.terms.[0].faces}}" data-score="{{../../newNewRollResult.terms.[0].results.[0].result}}" data-position="{{@index}}"><span>{{../../newNewRollResult.terms.[0].results.[0].result}}</span><div class="diebg d{{../../newNewRollResult.terms.[0].faces}}"></div></div>
                                                                {{/ifSuperiorOrEquals}}
                                                            {{/ifEquals}}
                                                        </div>
                                                        <p class="rollseparator">+</p>

                                                    {{else}}

                                                        {{#ifEquals object.faces 4}}
                                                            <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{else}}
                                                            {{#ifSuperiorOrEquals this.result object.faces}}
                                                                <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                            {{else}}
                                                                <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                            {{/ifSuperiorOrEquals}}
                                                        {{/ifEquals}}
                                                        <p class="rollseparator">+</p>

                                                    {{/ifEquals}}

                                                {{/each}}
                                                <p class="group-expression">{{this.expression}}</p>
                                            </li>
                                            <li class="rollgroupseparator">+</li>

                                        {{else}}

                                            <li class="rolls-group" data-group="{{@index}}">
                                                <div class="rolls-group-bg"></div>
                                                {{#each this.results}}
                                                    {{#ifEquals object.faces 4}}
                                                        <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{else}}
                                                        {{#ifSuperiorOrEquals this.result object.faces}}
                                                            <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{else}}
                                                            <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                        {{/ifSuperiorOrEquals}}
                                                    {{/ifEquals}}
                                                    <p class="rollseparator">+</p>
                                                {{/each}}
                                                <p class="group-expression">{{this.expression}}</p>
                                            </li>
                                            <li class="rollgroupseparator">+</li>

                                        {{/ifEquals}}

                                    {{/if}}

                                {{/each}}

                                {{#if (eq fixednumber 0)}}
                                {{else}}
                                    <li class="rollseparator">+</li>
                                    <li class="roll fixedpart">
                                        {{fixednumber}}

                                        {{#if (eq damagelevel "combatskill")}}
                                            <p class="group-expression combatskill-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.CSstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "aimingskill")}}
                                            <p class="group-expression aimingskill-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.ASstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "strength")}}
                                            <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "dexterity")}}
                                            <p class="group-expression dexterity-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.DEXstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "resilience")}}
                                            <p class="group-expression resilience-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.RESstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "intellect")}}
                                            <p class="group-expression intellect-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.INTstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "perception")}}
                                            <p class="group-expression perception-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.PERstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "mentalstrength")}}
                                            <p class="group-expression mentalstrength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.MSstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "charisma")}}
                                            <p class="group-expression charisma-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.CHstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "technology")}}
                                            <p class="group-expression technology-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.TECstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "superpoints")}}
                                            <p class="group-expression color-superpoint" style="text-transform: uppercase;opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 12px;letter-spacing: -0.5px;">{{localize "destinyjdr.sheet.super"}}</p>
                                        {{/if}}
                                            
                                    </li>
                                {{/if}}

                            </ul>

                        {{else}}

                            <ul class="dice-rolls">

                                {{#each rollResult.terms as |object key|}}

                                    {{#if object.operator}}
                                    {{else}}

                                        <li class="rolls-group" data-group="{{@index}}">
                                            <div class="rolls-group-bg"></div>
                                            {{#each this.results}}
                                                {{#ifEquals object.faces 4}}
                                                    <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                {{else}}
                                                    {{#ifSuperiorOrEquals this.result object.faces}}
                                                        <div class="roll max die" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{else}}
                                                        <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="{{@index}}"><span>{{this.result}}</span><div class="diebg d{{object.faces}}"></div></div>
                                                    {{/ifSuperiorOrEquals}}
                                                {{/ifEquals}}
                                                <p class="rollseparator">+</p>
                                            {{/each}}
                                            <p class="group-expression">{{this.expression}}</p>
                                        </li>
                                        <li class="rollgroupseparator">+</li>

                                    {{/if}}

                                {{/each}}

                                {{#if (eq fixednumber 0)}}
                                {{else}}
                                    <li class="rollseparator">+</li>
                                    <li class="roll fixedpart">
                                        {{fixednumber}}

                                        {{#if (eq damagelevel "combatskill")}}
                                            <p class="group-expression combatskill-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.CSstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "aimingskill")}}
                                            <p class="group-expression aimingskill-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.ASstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "strength")}}
                                            <p class="group-expression strength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.STRstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "dexterity")}}
                                            <p class="group-expression dexterity-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.DEXstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "resilience")}}
                                            <p class="group-expression resilience-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.RESstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "intellect")}}
                                            <p class="group-expression intellect-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.INTstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "perception")}}
                                            <p class="group-expression perception-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.PERstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "mentalstrength")}}
                                            <p class="group-expression mentalstrength-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.MSstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "charisma")}}
                                            <p class="group-expression charisma-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.CHstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "technology")}}
                                            <p class="group-expression technology-color" style="opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 15px;">{{localize "destinyjdr.minstats.TECstat"}}</p>
                                        {{/if}}
                                        {{#if (eq damagelevel "superpoints")}}
                                            <p class="group-expression color-superpoint" style="text-transform: uppercase;opacity: 0.65;text-shadow: 0 0 3px white;width: 200%;left: 50%;transform: translateX(-50%);font-size: 12px;letter-spacing: -0.5px;">{{localize "destinyjdr.sheet.super"}}</p>
                                        {{/if}}
                                            
                                    </li>
                                {{/if}}

                            </ul>

                        {{/if}}

                    {{/if}}
                    
                </div>
        
                {{#if (eq critnumber 0)}}
                {{else}}
                    <div class="destinyjdr-critdiv">
                        <p class="rollseparator">+</p>
                        <div class="roll die" data-damagelevel="{{damagelevel}}" data-faces="{{object.faces}}" data-position="-1" style="pointer-events: none;">
                            <span>{{critdamage}}</span>
                            {{#if (eq critnumber 6)}}
                                <div class="diebg d4"></div>
                                <p class="group-expression">1d4</p>
                            {{else}}
                                {{#if (eq critnumber 8)}}
                                    <div class="diebg d6"></div>
                                    <p class="group-expression">1d6</p>
                                {{else}}
                                    {{#if (eq critnumber 10)}}
                                        <div class="diebg d8"></div>
                                        <p class="group-expression">1d8</p>
                                    {{else}}
                                        {{#if (eq critnumber 12)}}
                                            <div class="diebg d10"></div>
                                            <p class="group-expression">1d10</p>
                                        {{else}}
                                            {{#if (eq critnumber 20)}}
                                                <div class="diebg d12"></div>
                                                <p class="group-expression">1d12</p>
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            
                        </div>
                        <p class="destinyjdr-crittitle">{{localize "destinyjdr.sheet.completeCriticalWounds"}}</p>
                    </div>
                {{/if}}
            {{/if}}

        </div>
    </div>

    <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
        <p class="destinyjdr-item-endline-element">
            {{#if (eq meleeattack 3)}}
                {{localize "destinyjdr.itemText.skillText"}}
            {{else}}
                {{localize "destinyjdr.sheet.super"}}
            {{/if}}
        </p>
        {{#if (eq element "solar")}}
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
            </p>
        {{/if}}
        {{#if (eq element "arc")}}
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
            </p>
        {{/if}}
        {{#if (eq element "void")}}
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
            </p>
        {{/if}}
        {{#if (eq element "stasis")}}
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
            </p>
        {{/if}}
        {{#if (eq element "strand")}}
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
            </p>
        {{/if}}
        {{#if (eq element "vertant")}}
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
            </p>
        {{/if}}
        {{#if (eq element "offaxis")}}
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
            </p>
        {{/if}}
    </div>
</div>