<div class="dice-roll">
    <div class="destinyjdr-supercard dice-result">
        <p class="destinyjdr-superflavortext color-{{this.element}}">{{localize "destinyjdr.sheet.invoke2"}}</p>
        <div class="super-mainbloc" style="z-index: 3;">
            <div class="super-mainbloc-img">
                <img src="{{this.img}}">
            </div>
            <div class="super-mainbloc-title">
                {{#if (contains this.img "hunter1.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/hunter1.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "hunter2.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/hunter2.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "hunter3.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/hunter3.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "hunter4.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/hunter4.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "hunter5.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/hunter5.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "hunter6.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/hunter6.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "hunter7.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/hunter7.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "titan1.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/titan1.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "titan2.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/titan2.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "titan3.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/titan3.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "titan4.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/titan4.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "titan5.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/titan5.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "titan6.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/titan6.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "titan7.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/titan7.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "warlock1.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/warlock1.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "warlock2.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/warlock2.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "warlock3.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/warlock3.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "warlock4.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/warlock4.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "warlock5.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/warlock5.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "warlock6.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/warlock6.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                {{#if (contains this.img "warlock7.webp")}}
                    <button class="destinyjdr-audio tooltipdiv" data-audio="systems/destinyjdr/assets/audio/super_sounds/warlock7.wav">
                        <i class="fa-solid fa-volume"></i>
                        <span class="tooltiptext" style="left: -5px;top: 22px;transform: unset;">{{localize "destinyjdr.flavorText.audio"}}</span>
                    </button>
                {{/if}}
                <p class="destinyjdr-centerstrong">{{localize "destinyjdr.sheet.super"}}</p>
                <p class="destinyjdr-dice-weapontitle2 color-{{this.element}}">{{this.name}}</p>
                <div class="skill-buttoncolumn" style="bottom: unset;top: 42px;">
                    {{#if (eq doesdamage true)}}
                        {{#if (eq this.damage1dicenum "0")}}{{else}}
                            {{#if (eq this.damage1dicetype "0")}}{{else}}
                                <div class="skillbutton-container">
                                    <button class="destinyjdr-superbutton" type="button" data-actor="{{this.actorID}}" data-choice="1" data-img="{{this.img}}" data-name="{{this.name}}" data-element="{{this.element}}" data-damagedicenum="{{this.damage1dicenum}}" data-damagedicetype="{{this.damage1dicetype}}" data-damagelevel="{{this.damage1level}}" data-fixednumber="{{this.fixednumber1}}" style="padding: 6px 3px 3px 3px;margin: 7px auto 3px auto;">{{localize "destinyjdr.flavorText.applydamage"}}</button>
                                    <p class="destinyjdr-overtoptext">
                                        {{this.damage1dicenum}}d{{this.damage1dicetype}}
                                        {{#if (eq this.damage1level "nothing")}}{{else}}
                                            +
                                            {{#if (eq this.damage1level "combatskill")}}
                                                <span class="combatskill-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "aimingskill")}}
                                                <span class="aimingskill-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "strength")}}
                                                <span class="strength-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "dexterity")}}
                                                <span class="dexterity-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "resilience")}}
                                                <span class="resilience-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "intellect")}}
                                                <span class="intellect-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "perception")}}
                                                <span class="perception-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "mentalstrength")}}
                                                <span class="mentalstrength-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "charisma")}}
                                                <span class="charisma-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "technology")}}
                                                <span class="technology-color">{{fixednumber1}}</span>
                                            {{/if}}
                                            {{#if (eq this.damage1level "superpoints")}}
                                                <span class="superpoints-color">{{fixednumber1}}</span>
                                            {{/if}}
                                        {{/if}}
                                    </p>
                                </div>
                            {{/if}}
                        {{/if}}
                        {{#if (eq this.damage2dicenum "")}}{{else}}
                            {{#if (eq this.damage2dicenum "0")}}{{else}}
                                {{#if (eq this.damage2dicetype "0")}}{{else}}
                                    <div class="skillbutton-container">
                                        <button class="destinyjdr-superbutton" type="button" data-actor="{{this.actorID}}" data-choice="1" data-img="{{this.img}}" data-name="{{this.name}}" data-element="{{this.element}}" data-damagedicenum="{{this.damage2dicenum}}" data-damagedicetype="{{this.damage2dicetype}}" data-damagelevel="{{this.damage2level}}" data-fixednumber="{{this.fixednumber2}}" style="padding: 6px 3px 3px 3px;margin: 7px auto 3px auto;">{{localize "destinyjdr.flavorText.applydamage"}}</button>
                                        <p class="destinyjdr-overtoptext">
                                            {{this.damage2dicenum}}d{{this.damage2dicetype}}
                                            {{#if (eq this.damage2level "nothing")}}{{else}}
                                                +
                                                {{#if (eq this.damage2level "combatskill")}}
                                                    <span class="combatskill-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "aimingskill")}}
                                                    <span class="aimingskill-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "strength")}}
                                                    <span class="strength-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "dexterity")}}
                                                    <span class="dexterity-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "resilience")}}
                                                    <span class="resilience-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "intellect")}}
                                                    <span class="intellect-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "perception")}}
                                                    <span class="perception-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "mentalstrength")}}
                                                    <span class="mentalstrength-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "charisma")}}
                                                    <span class="charisma-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "technology")}}
                                                    <span class="technology-color">{{fixednumber2}}</span>
                                                {{/if}}
                                                {{#if (eq this.damage2level "superpoints")}}
                                                    <span class="superpoints-color">{{fixednumber2}}</span>
                                                {{/if}}
                                            {{/if}}
                                        </p>
                                    </div>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                    {{#if (eq doeseffects true)}}
                        <button class="destinyjdr-superbutton" type="button" data-actor="{{this.actorID}}" data-choice="2" data-img="{{this.img}}" data-name="{{this.name}}" data-element="{{this.element}}" data-effect="{{this.effect}}" style="letter-spacing: -0.5px;margin: 3px auto 0 auto;">{{localize "destinyjdr.flavorText.applyeffects"}}</button>
                    {{/if}}
                </div>
                <img class="super-mainbloc-title-decoration" src="\systems\destinyjdr\assets\img\weapons\weapon_elements\weaponelement_{{this.element}}.png">
            </div>
        </div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <div class="destinyjdr-weaponperk-show-perk" style="margin-top: 18px;">
                        <div class="destinyjdr-weaponperk-show">
                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.sheet.overview"}}</p>
                            <div class="destinyjdr-cardtext">{{{this.overview}}}</div>
                            <div class="brspace"></div>
                            {{#if (eq doesdamage true)}}
                                <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.damageText"}}</p>
                                <div class="destinyjdr-cardtext">{{this.superdamage1}}</div>
                                <div class="brspace"></div>
                                {{#if doestwodamagetypes}}
                                    {{#if (eq this.damage2dicenum "0")}}{{else}}
                                        {{#if (eq this.damage2dicetype "0")}}{{else}}
                                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.damageText2"}}</p>
                                            <div class="destinyjdr-cardtext">{{this.superdamage2}}</div>
                                            <div class="brspace"></div>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            {{#if (eq doeseffects true)}}
                                <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.effect"}}</p>
                                <div class="destinyjdr-cardtext">{{{this.effect}}}</div>
                                <div class="brspace"></div>
                            {{/if}}
                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.durationText"}}</p>
                            {{#if (eq this.system.duration instant)}}
                                <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.instant"}}</div>
                            {{else}}
                                {{#if (eq this.system.duration semiaction)}}
                                    <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.semiaction"}}</div>
                                {{else}}
                                    {{#if (eq this.system.duration action)}}
                                        <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.action"}}</div>
                                    {{else}}
                                        {{#if (eq this.system.duration actionPlus)}}
                                            <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.actionPlus"}}</div>
                                        {{else}}
                                            {{#if (eq this.system.duration twoActions)}}
                                                <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.twoActions"}}</div>
                                            {{else}}
                                                {{#if (eq this.system.duration twoActionsPlus)}}
                                                    <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.twoActionsPlus"}}</div>
                                                {{else}}
                                                    {{#if (eq this.system.duration threeActions)}}
                                                        <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.threeActions"}}</div>
                                                    {{else}}
                                                        {{#if (eq this.system.duration threeActionsPlus)}}
                                                            <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.threeActionsPlus"}}</div>
                                                        {{else}}
                                                            {{#if (eq this.system.duration fourActions)}}
                                                                <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.fourActions"}}</div>
                                                            {{else}}
                                                                {{#if (eq this.system.duration oneTurn)}}
                                                                    <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.oneTurn"}}</div>
                                                                {{else}}
                                                                    {{#if (eq this.system.duration twoTurns)}}
                                                                        <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.twoTurns"}}</div>
                                                                    {{else}}
                                                                        {{#if (eq this.system.duration threeTurns)}}
                                                                            <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.threeTurns"}}</div>
                                                                        {{else}}
                                                                            {{#if (eq this.system.duration fourTurns)}}
                                                                                <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.fourTurns"}}</div>
                                                                            {{else}}
                                                                                {{#if (eq this.system.duration fiveTurns)}}
                                                                                    <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.fiveTurns"}}</div>
                                                                                {{else}}
                                                                                    {{#if (eq this.system.duration sixTurns)}}
                                                                                        <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.sixTurns"}}</div>
                                                                                    {{else}}
                                                                                        {{#if (eq this.system.duration sevenTurns)}}
                                                                                            <div class="destinyjdr-cardtext">{{localize "destinyjdr.actionTime.sevenTurns"}}</div>
                                                                                        {{/if}}
                                                                                    {{/if}}
                                                                                {{/if}}
                                                                            {{/if}}
                                                                        {{/if}}
                                                                    {{/if}}
                                                                {{/if}}
                                                            {{/if}}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            <div class="brspace"></div>
                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.description"}}</p>
                            <div class="destinyjdr-cardtext">{{{this.description}}}</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="destinyjdr-item-endline" style="padding: 3px 0 0 16px;">
            <img class="deploy-down" src="systems/destinyjdr/assets/img/rolls/misc/expand-down.png">
            <p class="destinyjdr-item-endline-element">
                {{localize "destinyjdr.sheet.super"}}
            </p>
            <p class="destinyjdr-item-endline-separator">|</p>
            <p class="destinyjdr-item-endline-element">
                {{#if (eq element "solar")}}
                    <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                {{/if}}
                {{#if (eq element "arc")}}
                    <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                {{/if}}
                {{#if (eq element "void")}}
                    <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                {{/if}}
                {{#if (eq element "stasis")}}
                    <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                {{/if}}
                {{#if (eq element "strand")}}
                    <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                {{/if}}
                {{#if (eq element "vertant")}}
                    <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                {{/if}}
                {{#if (eq element "offaxis")}}
                    <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                {{/if}}
            </p>
        </div>
    </div>
</div>