<div class="destinyjdr-supercard">

    <div class="super-mainbloc">
        <div class="super-mainbloc-title" style="margin: 0;width: 100%;padding: 0 62px 0 0;">
            <p class="destinyjdr-centerstrong">{{localize "destinyjdr.sheet.super"}}</p>
            <p class="destinyjdr-dice-weapontitle2 color-{{this.element}}">{{this.name}}</p>
            <p class="destinyjdr-cardtext">{{this.effect}}</p>
            <img class="super-mainbloc-title-decoration" src="{{this.img}}" style="height: 100%;">
        </div>
    </div>

    <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
        <p class="destinyjdr-item-endline-element">
            {{localize "destinyjdr.sheet.super"}}
        </p>
        <p class="destinyjdr-item-endline-separator">|</p>
        <p class="destinyjdr-item-endline-element">
            {{#if (eq element "solar")}}
                <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
            {{/if}}
            {{#if (eq element "arc")}}
                <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
            {{/if}}
            {{#if (eq element "void")}}
                <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
            {{/if}}
            {{#if (eq element "stasis")}}
                <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
            {{/if}}
            {{#if (eq element "strand")}}
                <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
            {{/if}}
            {{#if (eq element "vertant")}}
                <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
            {{/if}}
            {{#if (eq element "offaxis")}}
                <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
            {{/if}}
        </p>
    </div>

</div>