<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="destinyjdr-item-sheet sheet-items armor-sheet">

    <div class="destinyjdr-armor-div1">

      <!-- Armor Name -->
      {{#if (eq data.system.rarity "worn")}}
        <h1><input class="destinyjdr-armor-name color-worn" name="name" type="text" value="{{item.name}}" maxlength="36"/></h1>
      {{/if}}
      {{#if (eq data.system.rarity "goodquality")}}
        <h1><input class="destinyjdr-armor-name color-goodquality" name="name" type="text" value="{{item.name}}" maxlength="36"/></h1>
      {{/if}}
      {{#if (eq data.system.rarity "outstandingquality")}}
        <h1><input class="destinyjdr-armor-name color-outstandingquality" name="name" type="text" value="{{item.name}}" maxlength="36"/></h1>
      {{/if}}
      {{#if (eq data.system.rarity "masterpiece")}}
        <h1><input class="destinyjdr-armor-name color-masterpiece" name="name" type="text" value="{{item.name}}" maxlength="36"/></h1>
      {{/if}}
      {{#if (eq data.system.rarity "exotic")}}
        <h1><input class="destinyjdr-armor-name color-exotic" name="name" type="text" value="{{item.name}}" maxlength="36"/></h1>
      {{/if}}
      {{#if (eq data.system.rarity "enlightened")}}
        <h1><input class="destinyjdr-armor-name color-enlightened" name="name" type="text" value="{{item.name}}" maxlength="36"/></h1>
      {{/if}}
      {{#if (eq data.system.rarity "sunk")}}
        <h1><input class="destinyjdr-armor-name color-sunk" name="name" type="text" value="{{item.name}}" maxlength="36"/></h1>
      {{/if}}
      
      <div class="destinyjdr-armor-container">

        <!-- Armor Type -->
        <div class="destinyjdr-armor-container-weapontype">
          <div class="destinyjdr-item-titletext">{{localize config.textData.armorTypeText}}</div>
          <select class="armorType" name="data.armorType">
            {{#select data.system.armorType}}
              {{#each config.armorTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="destinyjdr-armor-caracteristics">

          <div class="destinyjdr-item-titletext">{{localize config.textData.weaponRarityText}}</div>
  
          {{#if (eq data.system.rarity "worn")}}
            <select name="data.rarity" class="destinyjdr-item-select-rarity color-worn">
          {{/if}}
  
          {{#if (eq data.system.rarity "goodquality")}}
            <select name="data.rarity" class="destinyjdr-item-select-rarity color-goodquality">
          {{/if}}
  
          {{#if (eq data.system.rarity "outstandingquality")}}
            <select name="data.rarity" class="destinyjdr-item-select-rarity color-outstandingquality">
          {{/if}}
  
          {{#if (eq data.system.rarity "masterpiece")}}
            <select name="data.rarity" class="destinyjdr-item-select-rarity color-masterpiece">
          {{/if}}
  
          {{#if (eq data.system.rarity "exotic")}}
            <select name="data.rarity" class="destinyjdr-item-select-rarity color-exotic">
          {{/if}}
  
          {{#if (eq data.system.rarity "enlightened")}}
            <select name="data.rarity" class="destinyjdr-item-select-rarity color-enlightened">
          {{/if}}
  
          {{#if (eq data.system.rarity "sunk")}}
            <select name="data.rarity" class="destinyjdr-item-select-rarity color-sunk">
          {{/if}}

            {{#select data.system.rarity}}
              {{#each config.rarityTypes as |name type|}}
                <option class="color-{{type}}" value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}

          </select>
  
        </div>

        <!-- Armor Value -->
        <div class="destinyjdr-armor-container-damage">
          <div class="destinyjdr-item-titletext">{{localize config.textData.value}}</div>
          <input class="value" name="data.value" type="text" maxlength="2" value="{{data.system.value}}" placeholder="{{localize config.textData.value}}"/>
        </div>

      </div>

      <div class="destinyjdr-armor-div-description">

        <div class="destinyjdr-armor-description">
          <div class="destinyjdr-item-titletext">{{localize config.textData.description}}</div>
          <textarea name="data.description" rows="3" cols="33" spellcheck="false" style="font-size: 11.5px !important;color: black !important;line-height: 11.5px !important;font-family: 'Quicksand', sans-serif !important;text-align: left !important;margin: 0 !important;padding: 2px 5px !important;">{{data.system.description}}</textarea>
        </div>

      </div>

      <div class="destinyjdr-armor-div-perk">

        <div class="destinyjdr-item-itemperk">
          <div class="destinyjdr-item-titletext">{{localize config.textData.effect}}</div>
          {{editor content=data.system.effect target='data.effect' button=true owner=true editable=true}}
        </div>

      </div>

    </div>

    <div class="destinyjdr-item-div2" style="width: 220px;">

      <div class="destinyjdr-item-img" style="width: 220px;height: 248px;">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="width: 106%;max-width: unset;left: -13px;"/>
      </div>

    </div>

  </div>

</form>
