<form class="{{cssClass}}" autocomplete="off">

  <section class="sheet-body">

    <div class="charactersheet-bodycontent">

      <div class="charactersheet-sidebar">
        {{> "systems/destinyjdr/templates/partials/charactersheet-sidebar-block.html"}}
      </div>
  
      <div class="charactersheet-main">

        <div class="charactersheet-main-header">
          {{> "systems/destinyjdr/templates/partials/charactersheet-main-header-block.html"}}
        </div>

        <div class="charactersheet-main-buttons">
          {{> "systems/destinyjdr/templates/partials/charactersheet-main-buttons-block.html"}}
        </div>

        <section class="sheet-content">

          <div class="charactersheet-main-content charactersheet-main-activation tab guardian" data-group="primary" data-tab="guardian">

            <div class="charactersheet-main-content-bar1">
              {{> "systems/destinyjdr/templates/partials/charactersheet-main-content-bar1-block.html"}}
            </div>
  
            <div class="charactersheet-main-content-bar2">
              {{> "systems/destinyjdr/templates/partials/charactersheet-main-content-bar2-block.html"}}
            </div>
  
          </div>
  
          <div class="charactersheet-main-allegiance tab paths paths-pane" data-group="primary" data-tab="paths">
  
            <div class="charactersheet-main-allegiance-points">
              {{> "systems/destinyjdr/templates/partials/charactersheet-main-allegiance-points-block.html"}}
            </div>
  
            <div class="charactersheet-main-allegiance-tree">
              {{> "systems/destinyjdr/templates/partials/charactersheet-main-allegiance-tree-block.html"}}
            </div>
  
          </div>

        </section>

      </div>

    </div>

  </section>

</form>
