<form class="{{cssClass}} flexcol" autocomplete="off" style="height: 100%;width: 100%;">

  <div class="destinyjdr-debugg">

    <div class="destinyjdr-activeeffects-2">

      <!-- Status effect displaying Part -->
      <p>{{localize "destinyjdr.debugg.debuggSheetText1"}}</p>
      <div class="displayeffects">
        <button class="destinyjdr-displaybuff" type="button">{{localize "destinyjdr.debugg.displayBuff"}}</button>
        <button class="destinyjdr-displaydebuff" type="button">{{localize "destinyjdr.debugg.displayDebuff"}}</button>
      </div>

      <!-- Apply active effects Part -->
      <p>{{localize "destinyjdr.debugg.debuggSheetText2"}}</p>
      <div class="displayeffects displayeffects1">
        <button class="destinyjdr-applybuff" type="button">{{localize "destinyjdr.debugg.applyBuff"}}</button>
        <button class="destinyjdr-applydebuff" type="button">{{localize "destinyjdr.debugg.applyDebuff"}}</button>
      </div>

      <!-- Apply unreal bonus Part -->
      <p>{{localize "destinyjdr.debugg.debuggSheetText3"}}</p>
      <div class="displayeffects displayeffects2">
        <button class="destinyjdr-effect-unrealcombatskill" type="button">{{localize "destinyjdr.debugg.unrealCombatskill"}}</button>
        <button class="destinyjdr-effect-unrealaimingskill" type="button">{{localize "destinyjdr.debugg.unrealAimingskill"}}</button>
        <button class="destinyjdr-effect-unrealstrength" type="button">{{localize "destinyjdr.debugg.unrealStrength"}}</button>
        <button class="destinyjdr-effect-unrealdexterity" type="button">{{localize "destinyjdr.debugg.unrealDexterity"}}</button>
        <button class="destinyjdr-effect-unrealresilience" type="button">{{localize "destinyjdr.debugg.unrealResilience"}}</button>
        <button class="destinyjdr-effect-unrealintellect" type="button">{{localize "destinyjdr.debugg.unrealIntellect"}}</button>
        <button class="destinyjdr-effect-unrealperception" type="button">{{localize "destinyjdr.debugg.unrealPerception"}}</button>
        <button class="destinyjdr-effect-unrealmentalstrength" type="button">{{localize "destinyjdr.debugg.unrealMentalstrength"}}</button>
        <button class="destinyjdr-effect-unrealcharisma" type="button">{{localize "destinyjdr.debugg.unrealCharisma"}}</button>
        <button class="destinyjdr-effect-unrealtechnology" type="button">{{localize "destinyjdr.debugg.unrealTechnology"}}</button>
      </div>

      <!-- Apply paracausal Part -->
      <p>{{localize "destinyjdr.debugg.debuggSheetText4"}}</p>
      <div class="displayeffects displayeffects2">
        <button class="destinyjdr-effect-paracausal" type="button" style="width: 80% !important;">{{localize "destinyjdr.debugg.addParacausal"}}</button>
      </div>
    </div>

    <div class="destinyjdr-activeeffects-1">
      {{#each actor.effects as |effect key|}}
        <div class="destinyjdr-activeeffects-div" data-effect-id="{{effect._id}}">
          <div class="destinyjdr-activeeffects-div1">
            <p>{{effect.label}}</p>
          </div>
          <div class="destinyjdr-activeeffects-div2">
            <button class="destinyjdr-deleteeffect" type="button">{{localize "destinyjdr.debugg.withdraw"}}</button>
            <button class="destinyjdr-editeffect" type="button">{{localize "destinyjdr.debugg.edit"}}</button>
          </div>
        </div>
      {{/each}}
    </div>

  </div>

</form>