<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="destinyjdr-destruction">

    <p class="destruction-title">{{localize "destinyjdr.sheet.destructionSaveText"}}</p>

    <div class="destinyjdr-destructionbuttons">
      <button type="button" class="destrsave-button-1" data-item="{{item}}" data-actor="{{actor}}">{{localize "destinyjdr.sheet.destructionSaveDifficulty1"}}</button>
      <button type="button" class="destrsave-button-2" data-item="{{item}}" data-actor="{{actor}}">{{localize "destinyjdr.sheet.destructionSaveDifficulty2"}}</button>
    </div>

  </div>

</form>