<form class="{{cssClass}} flexcol" autocomplete="off">

    <div class="destinyjdr-item-sheet sheet-items">
  
        <div class="destinyjdr-flawmutation-div1">

            <div class="destinyjdr-super-img">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
  
        </div>

        <div class="destinyjdr-flawmutation-div2">

            <!-- Flaw Name -->
            <h1>
                <input class="destinyjdr-flawmutation-name" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'destinyjdr.itemText.flawname'}}"/>
            </h1>

            <!-- ID -->
            <div class="destinyjdr-flawmutation-container-id">
                <div class="destinyjdr-item-titletext">{{localize config.textData.idname}}</div>
                <input class="id" name="data.id" type="text" value="{{data.system.id}}" placeholder="{{localize config.textData.id}}"/>
            </div>

            <!-- Effect -->
            <div class="destinyjdr-flawmutation-container-effect">
                <div class="destinyjdr-item-titletext">{{localize config.textData.effect}}</div>
                {{editor content=data.system.effect target='data.effect' button=true owner=true editable=true}}
            </div>

            <!-- Description -->
            <div class="destinyjdr-flawmutation-titletext">
                <div class="destinyjdr-item-titletext">{{localize config.textData.description}}</div>
                <textarea class="effect" name="data.description" rows="3" cols="33" spellcheck="false">{{data.system.description}}</textarea>
            </div>

        </div>
  
    </div>
  
</form>
