<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="destinyjdr-ghost-sheet sheet-items">

      <div class="destinyjdr-ghost-div1">

        <div class="destinyjdr-ghost-img">
          <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </div>

      </div>

      <div class="destinyjdr-ghost-div2">

        <!-- Ghost Name -->
        <h1>
          <input class="destinyjdr-ghost-name" name="name" type="text" value="{{item.name}}"/>
        </h1>

        <!-- Personality -->
        <div class="destinyjdr-ghost-container-id">
          <div class="destinyjdr-item-titletext">{{localize config.textData.personality}}</div>
          <select class="personality" name="data.personality">
            {{#select data.system.personality}}
              {{#each config.personalities as |name personality|}}
                <option value="{{personality}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <!-- Physical Description -->
        <div class="destinyjdr-ghost-container-id">
          <div class="destinyjdr-item-titletext">{{localize config.textData.physicaldescription}}</div>
          <textarea name="data.physicaldescription" rows="3" cols="33" spellcheck="false">{{data.system.physicaldescription}}</textarea>
        </div>

        <!-- Health Max -->
        <div class="destinyjdr-ghost2-container-id">
          <div class="destinyjdr-item-titletext">{{localize config.textData.healthmax}}</div>
          <input class="id" name="data.healthmax" type="text" value="{{data.system.healthmax}}" placeholder="{{localize config.textData.healthmax}}"/>
        </div>

        <!-- Health -->
        <div class="destinyjdr-ghost2-container-id">
          <div class="destinyjdr-item-titletext">{{localize config.textData.health}}</div>
          <input class="id" name="data.health" type="text" value="{{data.system.health}}" placeholder="{{localize config.textData.health}}"/>
        </div>

        <!-- Resilience -->
        <div class="destinyjdr-ghost2-container-id">
          <div class="destinyjdr-item-titletext">{{localize config.textData.resilience}}</div>
          <input class="id" name="data.resilience" type="text" value="{{data.system.resilience}}" placeholder="{{localize config.textData.resilience}}"/>
        </div>

      </div>

  </div>

</form>
