<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="destinyjdr-item-sheet sheet-items">

    <div class="destinyjdr-item-div1" style="width: 485px;margin: 0 13px 0 0;">

      <div class="destinyjdr-skill-header">

        <h1 style="width: 286px;margin: 0 8px 8px auto;"><input class="destinyjdr-item-name color-worn" name="name" type="text" value="{{item.name}}"/></h1>

        <div class="destinyjdr-skill-xpcost">
          <div class="destinyjdr-item-titletext">{{localize config.textData.cost}}</div>
          <input class="id" name="data.cost" type="text" value="{{data.system.cost}}" style="width: 36px;" placeholder="0"/>
        </div>

        <div class="destinyjdr-skill-requiredlevel">
          <div class="destinyjdr-item-titletext">{{localize "destinyjdr.sheet.actionsText"}}</div>
          
          {{#if (eq data.system.castTime "semiaction")}}
            <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
          {{else}}
            {{#if (eq data.system.castTime "action")}}
              <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
            {{else}}
              {{#if (eq data.system.castTime "actionPlus")}}
                <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
              {{else}}
                {{#if (eq data.system.castTime "twoActions")}}
                  <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                {{else}}
                  {{#if (eq data.system.castTime "twoActionsPlus")}}
                    <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                  {{else}}
                    {{#if (eq data.system.castTime "threeActions")}}
                      <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                    {{else}}
                      {{#if (eq data.system.castTime "threeActionsPlus")}}
                        <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                      {{else}}
                        {{#if (eq data.system.castTime "fourActions")}}
                          <select class="damagelevel color-action" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                        {{else}}
                          <select class="damagelevel" name="data.castTime" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}

            {{#select data.system.castTime}}
              {{#each config.actionTimes as |name action|}}
                <option class="color-{{action}}" value="{{action}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

      </div>

      {{#if (notContains data.system.skilltype "noroll")}}
      
        <div class="destinyjdr-skill-container">

          <div class="destinyjdr-skill-div">

            <span class="bgnumber">1</span>

            {{#if (notContains data.system.skilltype "noroll")}}
              <div class="destinyjdr-skill-div-container">
                <div class="destinyjdr-skill-div1-rollcheck">
                  <div class="destinyjdr-item-titletext">{{localize "destinyjdr.skilltypetext.simple1"}}</div>

                  <select class="damagelevel {{data.system.rollstat1}}-color" name="data.rollstat1" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;">
                    {{#select data.system.rollstat1}}
                      {{#each config.minstats as |name stat|}}
                        <option class="{{stat}}-color" value="{{stat}}">{{localize name}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>
                <div class="destinyjdr-skill-div1-difficulty">
                  <div class="destinyjdr-item-titletext">{{localize config.textData.difficulty}}</div>
                  <select class="damagelevel {{data.system.rollmod1}}-color" name="data.rollmod1" style="width: 129px;font-size: 12px !important;background: #c9c9c9b5 !important;">
                    {{#select data.system.rollmod1}}
                      {{#each config.difficulties as |name difficulty|}}
                        <option class="{{difficulty}}-color" value="{{difficulty}}">{{{localize name}}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>
              </div>
            {{/if}}

            {{#if (contains data.system.skilltype "damage")}}
              <div class="destinyjdr-skill-div-container2">
                <div class="destinyjdr-item-titletext">{{localize "destinyjdr.itemText.damageOrHealText"}}</div>
                <div class="destinyjdr-skill-damage">
                  <input class="damage1dicenum" name="data.damagedices1" type="text" value="{{data.system.damagedices1}}" min="1" max="9" placeholder="0" style="background: #c9c9c9b5 !important;"/>
                  <p class="simpletext"> d</p>
                  <input class="damage1dicetype" name="data.damagedicetype1" type="text" value="{{data.system.damagedicetype1}}" min="4" max="20" placeholder="0" style="background: #c9c9c9b5 !important;"/>
                  <p class="simpletext"> +</p>
                  <select class="damagelevel {{data.system.damagestat1}}-color" name="data.damagestat1" style="background: #c9c9c9b5 !important;width: 124px;font-size: 12px;line-height: 12px;">
                    {{#select data.system.damagestat1}}
                      {{#each config.damagelevels as |name damagelevel|}}
                        <option class="{{damagelevel}}-color" value="{{damagelevel}}">{{localize name}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                </div>
              </div>
            {{/if}}

          </div>

          <div class="destinyjdr-skill-div">

            {{#if (contains data.system.skilltype "2")}}

              <span class="bgnumber">2</span>

              {{#if (contains data.system.skilltype "2")}}
                <div class="destinyjdr-skill-div-container">
                  <div class="destinyjdr-skill-div1-rollcheck" style="margin: 0 4px 0 9px;">
                    <div class="destinyjdr-item-titletext">{{localize "destinyjdr.skilltypetext.simple1"}}</div>
                    <select class="damagelevel {{data.system.rollstat2}}-color" name="data.rollstat2" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;">
                      {{#select data.system.rollstat2}}
                        {{#each config.minstats as |name stat|}}
                          <option class="{{stat}}-color" value="{{stat}}">{{localize name}}</option>
                        {{/each}}
                      {{/select}}
                    </select>
                  </div>
                  <div class="destinyjdr-skill-div1-difficulty" style="margin: 0 auto 0 0;">
                    <div class="destinyjdr-item-titletext">{{localize config.textData.difficulty}}</div>
                    <select class="damagelevel {{data.system.rollmod2}}-color" name="data.rollmod2" style="width: 129px;font-size: 12px !important;background: #c9c9c9b5 !important;">
                      {{#select data.system.rollmod2}}
                        {{#each config.difficulties as |name difficulty|}}
                          <option class="{{difficulty}}-color" value="{{difficulty}}">{{{localize name}}}</option>
                        {{/each}}
                      {{/select}}
                    </select>
                  </div>
                </div>
              {{/if}}

              {{#if (contains data.system.skilltype "damage2")}}
                <div class="destinyjdr-skill-div-container2" style="padding: 0 0 0 9px;">
                  <div class="destinyjdr-item-titletext">{{localize "destinyjdr.itemText.damageOrHealText"}}</div>
                  <div class="destinyjdr-skill-damage">
                    <input class="damage1dicenum" name="data.damagedices2" type="text" value="{{data.system.damagedices2}}" min="1" max="9" placeholder="0" style="background: #c9c9c9b5 !important;"/>
                    <p class="simpletext"> d</p>
                    <input class="damage1dicetype" name="data.damagedicetype2" type="text" value="{{data.system.damagedicetype2}}" min="4" max="20" placeholder="0" style="background: #c9c9c9b5 !important;"/>
                    <p class="simpletext"> +</p>
                    <select class="damagelevel {{data.system.damagestat2}}-color" name="data.damagestat2" style="background: #c9c9c9b5 !important;width: 124px;font-size: 12px;line-height: 12px;">
                      {{#select data.system.damagestat2}}
                        {{#each config.damagelevels as |name damagelevel|}}
                          <option class="{{damagelevel}}-color" value="{{damagelevel}}">{{localize name}}</option>
                        {{/each}}
                      {{/select}}
                    </select>
                  </div>
                </div>
              {{/if}}

            {{/if}}

          </div>

        </div>

      {{/if}}

      <div class="destinyjdr-item-div-description" style="width:100%;padding: 0;position: relative;left: unset;bottom: unset;">

        <div class="destinyjdr-item-titletext">
          <div class="destinyjdr-item-titletext">{{localize config.textData.description}}</div>
          <textarea name="data.description" rows="3" cols="33" spellcheck="false" style="height: 24px !important;">{{data.system.description}}</textarea>
        </div>

      </div>

      <div class="destinyjdr-item-div-description skilldesc" style="width: 100%;padding: 0;position: relative;left: unset;bottom: unset;">

        <div class="destinyjdr-item-titletext">
          <div class="destinyjdr-item-titletext">{{localize config.textData.effect}}</div>
          {{editor content=data.system.effect target='data.effect' button=true owner=true editable=true}}
        </div>

      </div>

    </div>
  
    <div class="destinyjdr-item-div2" style="width:126px;padding:0 0 76px 0;margin:0 6px 0 0;">

      <div class="destinyjdr-item-img" style="width: 100%;height: 130px;padding: 0;">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="left: 0;top: 10px;width: 104%;height: 100%;max-width: unset;"/>
      </div>

      <div class="destinyjdr-item-caracteristics" style="height: 150px;padding: 0 0 8px 0;">

        <div class="destinyjdr-skill-createstruct">
          <div class="destinyjdr-item-titletext" style="margin: 3px 0 0 0;">{{localize config.textData.createstruct}}</div>
          <div class="destinyjdr-super-container-does-div" style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: auto;">
            <input class="createstruct" type="checkbox" data-dtype="Boolean" id="createstruct" name="data.createstruct" {{checked data.system.createstruct}}>
            {{#if data.system.createstruct}}
              <div class="monolithcheckbox tooltipdiv" style="height: 18px;">
                <input class="createstruct" type="checkbox" data-dtype="Boolean" id="structmonolith" style="margin: 0 0 4px 5px !important;" name="data.structmonolith" {{checked data.system.structmonolith}}>
                <span class="tooltiptext" style="left: 26px;top: 50px;">{{localize 'destinyjdr.itemText.structuremonolith'}}</span>
              </div>
            {{/if}}
          </div>
        </div>

        <div class="destinyjdr-skill-skilltype">
          <div class="destinyjdr-item-titletext">{{localize "destinyjdr.itemText.skillType"}}</div>
          <select class="damagelevel" name="data.skilltype" style="width: 100%;background: #8f8f8f1f !important;font-size: 11.5px;line-height: 11.5px;height: 38px;white-space: break-spaces;">
            {{#select data.system.skilltype}}
              {{#each config.skilltypes as |name skilltype|}}
                <option value="{{skilltype}}">{{{localize name}}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <div class="destinyjdr-skill-damageelement">
          <div class="destinyjdr-item-titletext">{{localize "destinyjdr.itemText.elementText"}}</div>
          <select class="damagelevel color-{{data.system.damageelement}}nobold" name="data.damageelement" style="width: 100%;background: #8f8f8f1f !important;font-size: 11.5px;line-height: 11.5px;height: 24px;white-space: break-spaces;text-align: left;">
            {{#select data.system.damageelement}}
              <option class="color-kinetic" value="class">{{localize "destinyjdr.sheettext.classskill"}}</option>
              {{#each config.elements as |name element|}}
                <option class="color-{{element}}" value="{{element}}">{{{localize name}}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

      </div>

    </div>

  </div>

</form>