<form class="{{cssClass}} flexcol" autocomplete="off">

    <div class="destinyjdr-item-sheet sheet-items">
        
        <div class="destinyjdr-super-div1">

            <div class="destinyjdr-super-img">
                <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            </div>
            <!--
            <div class="destinyjdr-super-audio">
                <div class="destinyjdr-item-titletext">{{localize "destinyjdr.sheet.audiofile"}}</div>
                {{filePicker target="data.audio" type="audio"}}
            </div>
            -->
            
        </div>

        <div class="destinyjdr-super-div2">

            <div class="destinyjdr-super-container-header">

                <!-- Super Name -->
                <h1>
                    {{#if (eq data.system.element "solar")}}
                        <input class="destinyjdr-super-name color-solar" name="name" type="text" value="{{item.name}}" maxlength="25"/>
                    {{/if}}
                    {{#if (eq data.system.element "arc")}}
                        <input class="destinyjdr-super-name color-arc" name="name" type="text" value="{{item.name}}" maxlength="25"/>
                    {{/if}}
                    {{#if (eq data.system.element "void")}}
                        <input class="destinyjdr-super-name color-void" name="name" type="text" value="{{item.name}}" maxlength="25"/>
                    {{/if}}
                    {{#if (eq data.system.element "stasis")}}
                        <input class="destinyjdr-super-name color-stasis" name="name" type="text" value="{{item.name}}" maxlength="25"/>
                    {{/if}}
                    {{#if (eq data.system.element "strand")}}
                        <input class="destinyjdr-super-name color-strand" name="name" type="text" value="{{item.name}}" maxlength="25"/>
                    {{/if}}
                    {{#if (eq data.system.element "vertant")}}
                        <input class="destinyjdr-super-name color-vertant" name="name" type="text" value="{{item.name}}" maxlength="25"/>
                    {{/if}}
                    {{#if (eq data.system.element "offaxis")}}
                        <input class="destinyjdr-super-name color-offaxis" name="name" type="text" value="{{item.name}}" maxlength="25"/>
                    {{/if}}
                </h1>

                <!-- Element -->
                <div class="destinyjdr-super-container-element">
                    <div class="destinyjdr-item-titletext">{{localize config.textData.element}}</div>
                    <select class="element color-{{data.system.element}}nobold" name="data.element">
                        {{#select data.system.element}}
                            {{#each config.elements as |name element|}}
                                <option class="color-{{element}}" value="{{element}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>

            </div>

            <div class="destinyjdr-super-container-body1">

                <!-- Cost -->
                <div class="destinyjdr-super-container-supercost">
                    <div class="destinyjdr-item-titletext">{{localize config.textData.cost}}</div>
                    <input class="cost" name="data.cost" type="text" maxlength="2" value="{{data.system.cost}}" placeholder="{{localize config.textData.cost}}"/>
                </div>

                <!-- Duration -->
                <div class="destinyjdr-super-container-superduration">
                    <div class="destinyjdr-item-titletext">{{localize config.textData.duration}}</div>
                    <div class="destinyjdr-super-container-superduration-div">
                        {{#if (eq data.system.duration "semiaction")}}
                          <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                        {{else}}
                          {{#if (eq data.system.duration "action")}}
                            <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                          {{else}}
                            {{#if (eq data.system.duration "actionPlus")}}
                              <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                            {{else}}
                              {{#if (eq data.system.duration "twoActions")}}
                                <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                              {{else}}
                                {{#if (eq data.system.duration "twoActionsPlus")}}
                                  <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                                {{else}}
                                  {{#if (eq data.system.duration "threeActions")}}
                                    <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                                  {{else}}
                                    {{#if (eq data.system.duration "threeActionsPlus")}}
                                      <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                                    {{else}}
                                      {{#if (eq data.system.duration "fourActions")}}
                                        <select class="damagelevel color-action" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                                      {{else}}
                                        <select class="damagelevel" name="data.duration" style="width: 100%;font-size: 12px !important;background: #c9c9c9b5 !important;text-align: left;">
                                      {{/if}}
                                    {{/if}}
                                  {{/if}}
                                {{/if}}
                              {{/if}}
                            {{/if}}
                          {{/if}}
                        {{/if}}
                          {{#select data.system.duration}}
                            {{#each config.actionTimes as |name action|}}
                              <option class="color-{{action}}" value="{{action}}">{{localize name}}</option>
                            {{/each}}
                          {{/select}}
                        </select>
                    </div>
                </div>

                <!-- Super Does Damage ? + Super Does Effects ? -->
                <div class="destinyjdr-super-container-does">

                    <div class="destinyjdr-super-container-does1">
                        <div class="destinyjdr-item-titletext">{{localize config.textData.doesdamage}}</div>
                        <div class="destinyjdr-super-container-does-div">
                            <input class="doesdamage" type="checkbox" data-dtype="Boolean" id="doesdamage" name="data.doesdamage" {{checked data.system.doesdamage}}>
                        </div>
                    </div>

                    <div class="destinyjdr-super-container-does2">
                        <div class="destinyjdr-item-titletext">{{localize config.textData.doeseffects}}</div>
                        <div class="destinyjdr-super-container-does-div">
                            <input class="doeseffects" type="checkbox" data-dtype="Boolean" id="doeseffects" name="data.doeseffects" {{checked data.system.doeseffects}}>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Overview -->
            <div class="destinyjdr-super-titletext">
                <div class="destinyjdr-item-titletext">{{localize config.textData.overview}}</div>
                <textarea name="data.overview" rows="2" cols="33" spellcheck="false">{{data.system.overview}}</textarea>
            </div>

            <!-- Description -->
            <div class="destinyjdr-super-titletext">
                <div class="destinyjdr-item-titletext">{{localize config.textData.description}}</div>
                <textarea name="data.description" rows="2" cols="33" spellcheck="false" style="height: 50px !important;">{{data.system.description}}</textarea>
            </div>

            <!-- Damage & Effects -->
            <div class="destinyjdr-super-container-body2">

                {{#if (eq data.system.doesdamage true)}}
                    <div class="destinyjdr-super-container-body2-1">
                        <div class="destinyjdr-item-titletext">{{localize config.textData.damage}}</div>
                        <div class="destinyjdr-super-damage">
                            <input class="damage1dicenum" name="data.damage1dicenum" type="text" value="{{data.system.damage1dicenum}}" min="1" max="9" placeholder="{{localize config.textData.damage1dicenum}}"/>
                            <p class="simpletext"> d</p>
                            <input class="damage1dicetype" name="data.damage1dicetype" type="text" value="{{data.system.damage1dicetype}}" min="4" max="20" placeholder="{{localize config.textData.damage1dicetype}}"/>
                            <p class="simpletext"> +</p>
                            <select class="damagelevel {{data.system.damage1level}}-color" name="data.damage1level">
                                {{#select data.system.damage1level}}
                                    {{#each config.damagelevels as |name damagelevel|}}
                                        <option class="{{damagelevel}}-color" value="{{damagelevel}}">{{localize name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="destinyjdr-super-damage">
                            <input class="damage2dicenum" name="data.damage2dicenum" type="text" value="{{data.system.damage2dicenum}}" min="1" max="9" placeholder="{{localize config.textData.damage2dicenum}}"/>
                            <p class="simpletext"> d</p>
                            <input class="damage2dicetype" name="data.damage2dicetype" type="text" value="{{data.system.damage2dicetype}}" min="4" max="20" placeholder="{{localize config.textData.damage2dicetype}}"/>
                            <p class="simpletext"> +</p>
                            <select class="damagelevel {{data.system.damage2level}}-color" name="data.damage2level">
                                {{#select data.system.damage2level}}
                                    {{#each config.damagelevels as |name damagelevel|}}
                                        <option class="{{damagelevel}}-color" value="{{damagelevel}}">{{localize name}}</option>
                                    {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                {{/if}}

                {{#if (eq data.system.doeseffects true)}}
                    {{#if (eq data.system.doesdamage true)}}
                        <div class="destinyjdr-super-container-body2-2">
                    {{else}}
                        <div class="destinyjdr-super-container-body2-2" style="width:100% !important;">
                    {{/if}}
                        <!-- Effects -->
                        <div class="destinyjdr-super-effects">
                            <div class="destinyjdr-item-titletext">{{localize config.textData.effects}}</div>
                            <textarea name="data.effect" rows="3" cols="33" spellcheck="false">{{data.system.effect}}</textarea>
                        </div>
                    </div>
                {{/if}}

            </div>
            
        </div>
  
    </div>
  
</form>
