<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="destinyjdr-item-sheet sheet-items">

      <div class="destinyjdr-super-div1">

          <div class="destinyjdr-super-img">
              <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
          </div>

      </div>

      <div class="destinyjdr-super-div2">

          <!-- Trait Name -->
          <h1>
              <input class="destinyjdr-super-name" name="name" type="text" value="{{item.name}}" maxlength="28"/>
          </h1>

          <!-- XPCost -->
          <div class="destinyjdr-trait-container-id">
              <div class="destinyjdr-item-titletext">{{localize 'destinyjdr.itemText.costXPText'}}</div>
              <input class="id" name="data.XPCost" type="text" value="{{data.system.XPCost}}" placeholder="0" maxlength="9000"/>
          </div>

          <!-- requiredLevel -->
          <div class="destinyjdr-trait-container-id">
            <div class="destinyjdr-item-titletext">{{localize config.textData.requiredLevel}}</div>
            <input class="id" name="data.requiredLevel" type="text" value="{{data.system.requiredLevel}}" placeholder="{{localize config.textData.requiredLevel}}"/>
          </div>

          <!-- linked -->
          <div class="destinyjdr-traitlinked-container-id">
            <div class="destinyjdr-item-titletext">{{localize config.textData.linked}}</div>
            <select class="linked" name="data.linked" style="width: 130px;">
              {{#select data.system.linked}}
                {{#each config.linkedTraits as |name linked|}}
                  <option value="{{linked}}">{{localize name}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>

          <!-- Effect -->
          <div class="destinyjdr-flawmutation-container-effect">
            <div class="destinyjdr-item-titletext">{{localize config.textData.effect}}</div>
            {{editor content=data.system.effect target='data.effect' button=true owner=true editable=true}}
        </div>

      </div>

  </div>

</form>
