<form class="{{cssClass}} flexcol" autocomplete="off">
  <div class="destinyjdr-destruction">
    <p class="destruction-title">{{localize 'destinyjdr.sheet.upgradeTheStat'}}{{upgradeTextStat}}</p>
    {{#if (eq theStat 1)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.combatskill1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.combatskill2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.combatskill3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.combatskill4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.combatskill5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.combatskill6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.combatskill7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.combatskill8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.combatskill8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 2)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.aimingskill1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.aimingskill2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.aimingskill3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.aimingskill4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.aimingskill5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.aimingskill6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.aimingskill7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.aimingskill8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.aimingskill8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 3)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.strength1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.strength2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.strength3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.strength4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.strength5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.strength6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.strength7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.strength8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.strength8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 4)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.dexterity1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.dexterity2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.dexterity3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.dexterity4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.dexterity5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.dexterity6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.dexterity7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.dexterity8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.dexterity8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 5)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.resilience1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.resilience2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.resilience3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.resilience4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.resilience5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.resilience6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.resilience7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.resilience8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.resilience8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 6)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.intellect1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.intellect2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.intellect3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.intellect4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.intellect5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.intellect6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.intellect7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.intellect8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.intellect8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 7)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.perception1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.perception2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.perception3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.perception4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.perception5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.perception6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.perception7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.perception8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.perception8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 8)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.mentalstrength1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.mentalstrength2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.mentalstrength3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.mentalstrength4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.mentalstrength5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.mentalstrength6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.mentalstrength7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.mentalstrength8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.mentalstrength8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 9)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.charisma1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.charisma2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.charisma3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.charisma4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.charisma5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.charisma6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.charisma7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.charisma8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.charisma8}} />
      </div>
    {{/if}}
    {{#if (eq theStat 10)}}
      <div class="destinyjdr-upgradestat">
        <input class="destinyjdr-upgradeinput1" type="checkbox" name="data.upgradeStats.technology1" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology1}} />
        <input class="destinyjdr-upgradeinput2" type="checkbox" name="data.upgradeStats.technology2" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology2}} />
        <input class="destinyjdr-upgradeinput3" type="checkbox" name="data.upgradeStats.technology3" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology3}} />
        <input class="destinyjdr-upgradeinput4" type="checkbox" name="data.upgradeStats.technology4" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology4}} />
        <input class="destinyjdr-upgradeinput5" type="checkbox" name="data.upgradeStats.technology5" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology5}} />
        <input class="destinyjdr-upgradeinput6" type="checkbox" name="data.upgradeStats.technology6" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology6}} />
        <input class="destinyjdr-upgradeinput7" type="checkbox" name="data.upgradeStats.technology7" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology7}} />
        <input class="destinyjdr-upgradeinput8" type="checkbox" name="data.upgradeStats.technology8" data-dtype="Boolean" {{checked this.actor.system.upgradeStats.technology8}} />
      </div>
    {{/if}}
  </div>
</form>