<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="destinyjdr-item-sheet sheet-items">

    <div class="destinyjdr-item-weaponcrafter">
      {{#if (eq data.system.weaponCrafter "unknown")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_unknown.png" title="{{localize config.weaponCrafters.unknown}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "blackarmory")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_blackarmory.png" title="{{localize config.weaponCrafters.blackarmory}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "cassoid")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_cassoid.png" title="{{localize config.weaponCrafters.cassoid}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "cruxlomar")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_cruxlomar.png" title="{{localize config.weaponCrafters.cruxlomar}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "daito")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_daito.png" title="{{localize config.weaponCrafters.daito}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "hakke")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_hakke.png" title="{{localize config.weaponCrafters.hakke}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "nadir")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_nadir.png" title="{{localize config.weaponCrafters.nadir}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "omolon")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_omolon.png" title="{{localize config.weaponCrafters.omolon}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "suros")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_suros.png" title="{{localize config.weaponCrafters.suros}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "texmechanica")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_texmechanica.png" title="{{localize config.weaponCrafters.texmechanica}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "veist")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_veist.png" title="{{localize config.weaponCrafters.veist}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "thetower")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_thetower.png" title="{{localize config.weaponCrafters.thetower}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "thedrifter")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_thedrifter.png" title="{{localize config.weaponCrafters.thedrifter}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "ironbanner")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_ironbanner.png" title="{{localize config.weaponCrafters.ironbanner}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "ishtarcollective")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_ishtarcollective.png" title="{{localize config.weaponCrafters.ishtarcollective}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "siva")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_siva.png" title="{{localize config.weaponCrafters.siva}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "vex")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_vex.png" title="{{localize config.weaponCrafters.vex}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "thehive")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_thehive.png" title="{{localize config.weaponCrafters.thehive}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "thelighthouse")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_thelighthouse.png" title="{{localize config.weaponCrafters.thelighthouse}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "newempire")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_newempire.png" title="{{localize config.weaponCrafters.newempire}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "olusworkshop")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_olusworkshop.png" title="{{localize config.weaponCrafters.olusworkshop}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "houseoflight")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_houseoflight.png" title="{{localize config.weaponCrafters.houseoflight}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "theleviathan")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_theleviathan.png" title="{{localize config.weaponCrafters.theleviathan}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "dreamingcity")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_dreamingcity.png" title="{{localize config.weaponCrafters.dreamingcity}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "themoon")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_themoon.png" title="{{localize config.weaponCrafters.themoon}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "brayexpedition")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_brayexpedition.png" title="{{localize config.weaponCrafters.brayexpedition}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "brayexoscience")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_brayexoscience.png" title="{{localize config.weaponCrafters.brayexoscience}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "poelruiter")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_poelruiter.png" title="{{localize config.weaponCrafters.poelruiter}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "enigma")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_enigma.png" title="{{localize config.weaponCrafters.enigma}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "thesorrow")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_thesorrow.png" title="{{localize config.weaponCrafters.thesorrow}}"/>
      {{/if}}
      {{#if (eq data.system.weaponCrafter "group935")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_crafters/weaponcrafter_group935.png" title="{{localize config.weaponCrafters.group935}}"/>
      {{/if}}
      
    </div>

    <!-- Weapon Crafter -->
    <div class="destinyjdr-item-container-weaponcrafter">
      <select class="weaponcrafter" name="data.weaponCrafter">
        {{#select data.system.weaponCrafter}}
          {{#each config.weaponCrafters as |name crafter|}}
            <option value="{{crafter}}">{{localize name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>

    <div class="destinyjdr-item-div1">

      <!-- Weapon Name -->
      {{#if (eq data.system.rarity "worn")}}
        <h1><input class="destinyjdr-item-name color-worn" name="name" type="text" value="{{item.name}}"/></h1>
      {{/if}}

      {{#if (eq data.system.rarity "goodquality")}}
        <h1><input class="destinyjdr-item-name color-goodquality" name="name" type="text" value="{{item.name}}"/></h1>
      {{/if}}

      {{#if (eq data.system.rarity "outstandingquality")}}
        <h1><input class="destinyjdr-item-name color-outstandingquality" name="name" type="text" value="{{item.name}}"/></h1>
      {{/if}}

      {{#if (eq data.system.rarity "masterpiece")}}
        <h1><input class="destinyjdr-item-name color-masterpiece" name="name" type="text" value="{{item.name}}"/></h1>
      {{/if}}

      {{#if (eq data.system.rarity "exotic")}}
        <h1><input class="destinyjdr-item-name color-exotic" name="name" type="text" value="{{item.name}}"/></h1>
      {{/if}}

      {{#if (eq data.system.rarity "enlightened")}}
        <h1><input class="destinyjdr-item-name color-enlightened" name="name" type="text" value="{{item.name}}"/></h1>
      {{/if}}

      {{#if (eq data.system.rarity "sunk")}}
        <h1><input class="destinyjdr-item-name color-sunk" name="name" type="text" value="{{item.name}}"/></h1>
      {{/if}}
      
      <div class="destinyjdr-item-container">

        <!-- Weapon Type -->
        <div class="destinyjdr-item-container-weapontype">
          <div class="destinyjdr-item-titletext">{{localize config.textData.weaponTypeText}}</div>
          <select class="weapontype" name="data.weaponType">
            {{#select data.system.weaponType}}
              {{#each config.weaponTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

        <!-- Weapon Element -->
        <div class="destinyjdr-item-container-weaponelement">
          <div class="destinyjdr-item-titletext">{{localize config.textData.weaponElementText}}</div>
          <select class="weaponelement color-{{data.system.weaponElement}}nobold" name="data.weaponElement">
            {{#select data.system.weaponElement}}
              {{#each config.weaponElements as |name element|}}
                <option class="color-{{element}}" value="{{element}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>

      </div>

      <div class="destinyjdr-item-container">

        <!-- Damage -->
        {{#if (eq data.system.weaponType "sword")}}
          <div class="destinyjdr-item-container-damage" style="margin: 0 54px 0 64px;width: 136px;">
        {{else}}
          <div class="destinyjdr-item-container-damage">
        {{/if}}
          {{#if (eq data.system.weaponType "sword")}}
            <p class="swordinfo">+<b><span class='strength-color'>{{getStrengthOfActor this.data._id}}</span></b></p>
          {{/if}}
          <div class="destinyjdr-item-titletext">{{localize config.textData.damage}}</div>
          <input class="damage" name="data.damage" type="text" value="{{data.system.damage}}" placeholder="{{localize config.textData.damage}}"/>
        </div>

        <!-- Weapon Penetration -->
        {{#if (eq data.system.weaponType "explosive")}}{{else}}
          {{#if (eq data.system.weaponType "rocketlauncher")}}{{else}}
            {{#if (eq data.system.weaponType "grenadelauncher")}}{{else}}
              <div class="destinyjdr-item-container-weaponpenetration">
                <div class="destinyjdr-item-titletext">{{localize config.textData.weaponPenetration}}</div>
                <input class="weaponPenetration" name="data.weaponPenetration" type="text" value="{{data.system.weaponPenetration}}" placeholder="{{localize config.textData.weaponPenetrationText}}"/>
              </div>
            {{/if}}
          {{/if}}
        {{/if}}

      </div>

      <div class="destinyjdr-item-containerdouble">

        {{#if (eq data.system.weaponType "explosive")}}
          <div class="destinyjdr-item-containerdouble-div1" style="width: 210px;">
        {{else}}
          <div class="destinyjdr-item-containerdouble-div1">
        {{/if}}

          <!-- Range -->
          {{#if (eq data.system.weaponScope "noscope")}}
            {{#if (eq data.system.weaponType "explosive")}}
              <div class="destinyjdr-item-container-range" style="width: 100%;">
            {{else}}
              <div class="destinyjdr-item-container-range">
            {{/if}}
          {{else}}
            {{#if (eq data.system.weaponScope "exotic")}}
              {{#if (eq data.system.weaponType "explosive")}}
                <div class="destinyjdr-item-container-range" style="width: 100%;">
              {{else}}
                <div class="destinyjdr-item-container-range">
              {{/if}}
            {{else}}
              {{#if (eq data.system.weaponType "explosive")}}
                <div class="destinyjdr-item-container-range disabledrange" style="width: 100%;">
              {{else}}
                <div class="destinyjdr-item-container-range disabledrange">
              {{/if}}
            {{/if}}
          {{/if}}
            {{#if (eq data.system.weaponType "explosive")}}
              <div class="destinyjdr-item-titletext">{{localize 'destinyjdr.itemText.weaponradius'}}</div>
              <input class="range" name="data.range" type="text" value="{{data.system.range}}" placeholder="0" style="background: rgba(0, 0, 0, 0.05) !important; opacity: 1 !important;"/>
              <div class="rangetext" style="background: rgba(0, 0, 0, 0.05) !important; opacity: 1 !important;">{{localize config.textData.meters}}</div>
            {{else}}
              {{#if (eq data.system.weaponType "sword")}}
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponRange}}</div>
                <input class="range" name="data.range" type="text" value="{{data.system.range}}" placeholder="0" style="background: rgba(0, 0, 0, 0.05) !important; opacity: 1 !important;"/>
                <div class="rangetext" style="background: rgba(0, 0, 0, 0.05) !important; opacity: 1 !important;">{{localize config.textData.meters}}</div>
              {{else}}
                <div class="destinyjdr-item-titletext">{{localize config.textData.weaponRange}}</div>
                <input class="range" name="data.range" type="text" value="{{data.system.range}}" placeholder="0"/>
                <div class="rangetext">{{localize config.textData.meters}}</div>
              {{/if}}
            {{/if}}
          </div>

          <!-- Throwing Range -->
          <div class="destinyjdr-item-container-rangethrowing">
            <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponRangeThrowing}}</div>
            <input class="rangethrowing" name="data.rangeThrowing" type="text" value="{{data.system.rangeThrowing}}" placeholder="0"/>
            <div class="rangetext">{{localize config.textData.meters}}</div>
          </div>

        </div>

        <div class="destinyjdr-item-containerdouble-div2">

          {{#if (eq data.system.weaponType "autorifle")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "submachinegun")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "scoutrifle")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "shotgun")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "pulserifle")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "sniperrifle")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "sidearm")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "handcannon")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "fusionrifle")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "linearfusionrifle")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "grenadelauncher")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "machinegun")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "glaive")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "rocketlauncher")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}
          {{#if (eq data.system.weaponType "bow")}}
            <!-- Magazine - Total -->
            <div class="destinyjdr-item-container-magazinefull">
              <div class="destinyjdr-item-titletext">{{localize config.textData.weaponMagazine}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazinetotal" name="data.weaponMagazineTotal" type="text" value="{{data.system.weaponMagazineTotal}}" placeholder="{{localize config.textData.weaponMagazineTotal}}"/>
              </div>
            </div>

            <!-- Magazine - Left -->
            <div class="destinyjdr-item-container-magazineleft">
              <div class="destinyjdr-item-subtitletext">{{localize config.textData.weaponMagazineLeft}}</div>
              <div class="destinyjdr-item-container-element-magazine">
                <input class="weaponmagazineleft" name="data.weaponMagazineLeft" type="text" value="{{data.system.weaponMagazineLeft}}" placeholder="{{localize config.textData.weaponMagazineLeft}}"/>
              </div>
            </div>
          {{/if}}

        </div>

        {{#if (eq data.system.weaponType "melee")}}
          <div class="destinyjdr-item-button-shoot-none" title="Frapper">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "explosive")}}
          <div class="destinyjdr-item-button-shoot-none" title="Frapper">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "autorifle")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-4" title="Tirer 4 balles">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_4_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "submachinegun")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-5" title="Tirer 5 balles">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_5_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "scoutrifle")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "shotgun")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "pulserifle")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-3" title="Tirer 3 balles">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_3_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "sniperrifle")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "sidearm")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "handcannon")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "fusionrifle")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-3" title="Tirer 3 balles">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_3_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "linearfusionrifle")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "sword")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot-none" title="Frapper">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "grenadelauncher")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "machinegun")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-4" title="Tirer 4 balles">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_4_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "glaive")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "rocketlauncher")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 balle">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}
        {{#if (eq data.system.weaponType "bow")}}
          <div id="destinyjdr-item-button-shoot" class="destinyjdr-item-button-shoot shoot-1" title="Tirer 1 flèche">
            <img class="destinyjdr-item-button-shoot-img" src="\systems\destinyjdr\assets\img\weapons\weapon_sheet\shoot_1_img.png">
          </div>
        {{/if}}

        {{#if (eq data.system.weaponType "melee")}}{{else}}
          {{#if (eq data.system.weaponType "explosive")}}{{else}}
            {{#if (eq data.system.weaponType "sword")}}{{else}}
              <div class="destinyjdr-item-containerdouble-div3">

                <!-- Weapon Scope -->
                <div class="destinyjdr-item-scopes">
                  <div class="destinyjdr-item-titletext">{{localize config.textData.weaponScopeText}}</div>
                  <select class="weaponscope" name="data.weaponScope">
                    {{#select data.system.weaponScope}}
                      {{#each config.weaponScopes as |name scope|}}
                        <option value="{{scope}}">{{localize name}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                  {{#if (eq data.system.weaponScope "noscope")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_noscope.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "exotic")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_exotic.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "quickdotsas")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_quickdotsas.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "truesighthcs")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_truesighthcs.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "is5circle")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_is5circle.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "model8red")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_model8red.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "gbiron")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_gbiron.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "wolfsightw1")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_wolfsightw1.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "sdthermal")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_sdthermal.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "duskdotd1")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_duskdotd1.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "scholo")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_scholo.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "devilscoped2")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_devilscoped2.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "ldwatchdog")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_ldwatchdog.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "mark15lens")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_mark15lens.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "lcranged")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_lcranged.png">
                  {{/if}}
                  {{#if (eq data.system.weaponScope "atblongrange")}}
                    <img class="destinyjdr-item-weaponscope-img" src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_atblongrange.png">
                  {{/if}}
                  <div class="weaponscope-range">
                    {{#if (eq data.system.weaponScope "quickdotsas")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.quickdotsas}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "truesighthcs")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.truesighthcs}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "is5circle")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.is5circle}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "model8red")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.model8red}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "gbiron")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.gbiron}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "wolfsightw1")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.wolfsightw1}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "sdthermal")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.sdthermal}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "duskdotd1")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.duskdotd1}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "scholo")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.scholo}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "devilscoped2")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.devilscoped2}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "ldwatchdog")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.ldwatchdog}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "mark15lens")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.mark15lens}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "lcranged")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.lcranged}} {{localize config.textData.meters}}</div>
                    {{/if}}
                    {{#if (eq data.system.weaponScope "atblongrange")}}
                      <div class="scope-rangelabel">{{localize config.weaponScopesRanges.atblongrange}} {{localize config.textData.meters}}</div>
                    {{/if}}
                  </div>
      
                  {{#if (eq data.system.weaponScope "noscope")}}
                    <div class="weaponscope-info weaponscope-infogreen no-display">
                  {{else}}
                    {{#if (eq data.system.weaponScope "exotic")}}
                      <div class="weaponscope-info weaponscope-infogreen no-display">
                    {{else}}
                      {{#if (eq data.system.weaponType "sniperrifle")}}
                      <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '1'}}">
                        <span class="tooltiptext">{{{compareRanges data.system.range "1"}}}</span>
                      {{else}}
                        {{#if (eq data.system.weaponType "scoutrifle")}}
                        <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '1'}}">
                          <span class="tooltiptext">{{{compareRanges data.system.range "1"}}}</span>
                        {{else}}
                          {{#if (eq data.system.weaponScope "quickdotsas")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '16'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "16"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "truesighthcs")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '28'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "28"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "is5circle")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '34'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "34"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "model8red")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '40'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "48"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "gbiron")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '48'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "48"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "wolfsightw1")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '55'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "55"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "sdthermal")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '65'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "65"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "duskdotd1")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '75'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "75"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "scholo")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '85'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "85"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "devilscoped2")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '90'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "90"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "ldwatchdog")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '125'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "125"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "mark15lens")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '200'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "200"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "lcranged")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '300'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "300"}}}</span>
                          {{/if}}
                          {{#if (eq data.system.weaponScope "atblongrange")}}
                          <div class="weaponscope-info weaponscope-info{{compareRanges2 data.system.range '580'}}">
                            <span class="tooltiptext">{{{compareRanges data.system.range "580"}}}</span>
                          {{/if}}
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/if}}
                  
      
                  </div>
                </div>
      
              </div>
            {{/if}}
          {{/if}}
        {{/if}}

      </div>

      <div class="destinyjdr-item-div-description">

        <div class="destinyjdr-item-titletext">
          <div class="destinyjdr-item-titletext">{{localize config.textData.description}}</div>
          <textarea name="data.description" rows="3" cols="33" spellcheck="false">{{data.system.description}}</textarea>
        </div>

      </div>

      <div class="destinyjdr-item-div-perk">

        <div class="destinyjdr-item-itemperk">
          <div class="destinyjdr-item-titletext">{{localize config.textData.itemperk}}</div>
          {{#if (eq data.system.perkactivated true)}}
            <div class="destinyjdr-item-perkbutton activated" data-item-id={{this.data._id}} data-actor-id={{this.item.actor._id}}>
                <span class="perkbutton-perktext">
                  <p style="margin: 6px 0;font-size: 14px;font-family: 'Quicksand', sans-serif;">{{data.system.perkname}}</p>
                  <div style="font-size: 12px;font-family: 'Quicksand', sans-serif;line-height: 12.5px;">{{{data.system.perk}}}</div>
                </span>
          {{else}}
            <div class="destinyjdr-item-perkbutton">
          {{/if}}
            {{#if (eq data.system.perkactivated true)}}
              <div class="destinyjdr-item-perkbutton2 activated"></div>
            {{else}}
              <div class="destinyjdr-item-perkbutton2"></div>
            {{/if}}
          </div>
          <input type="checkbox" name="data.perkactivated" data-dtype="Boolean" {{checked data.system.perkactivated}} />
        </div>

      </div>

    </div>
  
    <div class="destinyjdr-item-div2">

      <div class="destinyjdr-item-img">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>

      <div class="destinyjdr-item-weaponelement">
        {{#if (eq data.system.weaponElement "kinetic")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_kinetic_sheet.png"/>
        {{/if}}
        {{#if (eq data.system.weaponElement "solar")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_solar_sheet.png"/>
        {{/if}}
        {{#if (eq data.system.weaponElement "arc")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_arc_sheet.png"/>
        {{/if}}
        {{#if (eq data.system.weaponElement "void")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_void_sheet.png"/>
        {{/if}}
        {{#if (eq data.system.weaponElement "stasis")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_stasis_sheet.png"/>
        {{/if}}
        {{#if (eq data.system.weaponElement "strand")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_strand_sheet.png"/>
        {{/if}}
        {{#if (eq data.system.weaponElement "vertant")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_vertant_sheet.png"/>
        {{/if}}
        {{#if (eq data.system.weaponElement "offaxis")}}
          <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_offaxis_sheet.png"/>
        {{/if}}
      </div>

      {{#if (eq data.system.rarity "worn")}}
        <div class="destinyjdr-item-weapontype worn">
      {{/if}}

      {{#if (eq data.system.rarity "goodquality")}}
        <div class="destinyjdr-item-weapontype goodquality">
      {{/if}}

      {{#if (eq data.system.rarity "outstandingquality")}}
        <div class="destinyjdr-item-weapontype outstandingquality">
      {{/if}}

      {{#if (eq data.system.rarity "masterpiece")}}
        <div class="destinyjdr-item-weapontype masterpiece">
      {{/if}}

      {{#if (eq data.system.rarity "exotic")}}
        <div class="destinyjdr-item-weapontype exotic">
      {{/if}}

      {{#if (eq data.system.rarity "enlightened")}}
        <div class="destinyjdr-item-weapontype enlightened">
      {{/if}}

      {{#if (eq data.system.rarity "sunk")}}
        <div class="destinyjdr-item-weapontype sunk">
      {{/if}}

      {{#if (eq data.system.weaponType "melee")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_melee.png" title="{{localize config.weaponTypes.melee}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "explosive")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_explosive.png" title="{{localize config.weaponTypes.explosive}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "autorifle")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_autorifle.svg" title="{{localize config.weaponTypes.autorifle}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "submachinegun")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_submachinegun.svg" title="{{localize config.weaponTypes.submachinegun}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "scoutrifle")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_scoutrifle.svg" title="{{localize config.weaponTypes.scoutrifle}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "shotgun")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_shotgun.svg" title="{{localize config.weaponTypes.shotgun}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "pulserifle")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_pulserifle.svg" title="{{localize config.weaponTypes.pulserifle}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "sniperrifle")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_sniperrifle.svg" title="{{localize config.weaponTypes.sniperrifle}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "sidearm")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_sidearm.svg" title="{{localize config.weaponTypes.sidearm}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "handcannon")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_handcannon.svg" title="{{localize config.weaponTypes.handcannon}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "fusionrifle")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_fusionrifle.svg" title="{{localize config.weaponTypes.fusionrifle}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "linearfusionrifle")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_linearfusionrifle.svg" title="{{localize config.weaponTypes.linearfusionrifle}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "sword")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_sword.svg" title="{{localize config.weaponTypes.sword}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "grenadelauncher")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_grenadelauncher.svg" title="{{localize config.weaponTypes.grenadelauncher}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "machinegun")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_machinegun.svg" title="{{localize config.weaponTypes.machinegun}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "glaive")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_glaive.svg" title="{{localize config.weaponTypes.glaive}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "rocketlauncher")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_rocketlauncher.svg" title="{{localize config.weaponTypes.rocketlauncher}}"/>
      {{/if}}
      {{#if (eq data.system.weaponType "bow")}}
        <img src="/systems/destinyjdr/assets/img/weapons/weapon_types/weapontype_bow.svg" title="{{localize config.weaponTypes.bow}}"/>
      {{/if}}
      </div>

      <div class="destinyjdr-item-caracteristics">

        <div class="destinyjdr-item-titletext">{{localize config.textData.weaponRarityText}}</div>

        {{#if (eq data.system.rarity "worn")}}
          <select name="data.rarity" class="destinyjdr-item-select-rarity color-worn">
        {{/if}}

        {{#if (eq data.system.rarity "goodquality")}}
          <select name="data.rarity" class="destinyjdr-item-select-rarity color-goodquality">
        {{/if}}

        {{#if (eq data.system.rarity "outstandingquality")}}
          <select name="data.rarity" class="destinyjdr-item-select-rarity color-outstandingquality">
        {{/if}}

        {{#if (eq data.system.rarity "masterpiece")}}
          <select name="data.rarity" class="destinyjdr-item-select-rarity color-masterpiece">
        {{/if}}

        {{#if (eq data.system.rarity "exotic")}}
          <select name="data.rarity" class="destinyjdr-item-select-rarity color-exotic">
        {{/if}}

        {{#if (eq data.system.rarity "enlightened")}}
          <select name="data.rarity" class="destinyjdr-item-select-rarity color-enlightened">
        {{/if}}

        {{#if (eq data.system.rarity "sunk")}}
          <select name="data.rarity" class="destinyjdr-item-select-rarity color-sunk">
        {{/if}}

          {{#select data.system.rarity}}
            {{#each config.rarityTypes as |name type|}}
              {{#if @last}}
                {{#if @root.isGM}}
                  <option class="color-{{type}}" value="{{type}}">{{localize name}}</option>
                {{else}}
                  <option class="color-{{type}}" value="{{type}}" disabled>???</option>
                {{/if}}
              {{else}}
                <option class="color-{{type}}" value="{{type}}">{{localize name}}</option>
              {{/if}}
            {{/each}}
          {{/select}}
        </select>

      </div>

      <!-- lien vers les images de TOUTES les perks ! : https://imgur.com/a/e8eSY -->

    </div>

  </div>

</form>
